$defaultBorderWidth: 2px;

$defaultColors: (
    blue: (
        ignoreStyles: (),
        default: (
            background: color('500', 'blue'),
            background-outline: transparent,
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('500', 'blue'),
            color-outline: color('500', 'blue'),
            color: $color-light,
        ),
        hover: (
            background: color('600', 'blue'),
            background-outline: color('600', 'blue', 0.1),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('600', 'blue'),
            color-outline: color('600', 'blue'),
            color: $color-light,
        ),
        active: (
            background: color('700', 'blue'),
            background-outline: color('600', 'blue', 0.2),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('700', 'blue'),
            color-outline: color('700', 'blue'),
            color: $color-light,
        ),
    ),
    yellow: (
        ignoreStyles: (),
        default: (
            background: color('500', 'yellow'),
            background-outline: transparent,
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('500', 'yellow'),
            color-outline: color('500', 'yellow'),
            color: $color-light,
        ),
        hover: (
            background: color('600', 'yellow'),
            background-outline: color('sin', 'yellow', 0.1),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('600', 'yellow'),
            color-outline: color('600', 'yellow'),
            color: $color-light,
        ),
        active: (
            background: color('700', 'yellow'),
            background-outline: color('sin', 'yellow', 0.2),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('700', 'yellow'),
            color-outline: color('700', 'yellow'),
            color: $color-light,
        ),
    ),
    red: (
        ignoreStyles: (),
        default: (
            background: color('500', 'red'),
            background-outline: transparent,
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('500', 'red'),
            color-outline: color('500', 'red'),
            color: $color-light,
        ),
        hover: (
            background: color('600', 'red'),
            background-outline: color('bloody', 'red', 0.1),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('600', 'red'),
            color-outline: color('600', 'red'),
            color: $color-light,
        ),
        active: (
            background: color('700', 'red'),
            background-outline: color('bloody', 'red', 0.2),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('700', 'red'),
            color-outline: color('700', 'red'),
            color: $color-light,
        ),
    ),
    green: (
        ignoreStyles: (),
        default: (
            background: color('500', 'green'),
            background-outline: transparent,
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('600', 'green'),
            color-outline: color('600', 'green'),
            color: $color-light,
        ),
        hover: (
            background: color('600', 'green'),
            background-outline: color('shamrock', 'green', 0.1),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('700', 'green'),
            color-outline: color('700', 'green'),
            color: $color-light,
        ),
        active: (
            background: color('700', 'green'),
            background-outline: color('shamrock', 'green', 0.2),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('800', 'green'),
            color-outline: color('800', 'green'),
            color: $color-light,
        ),
    ),
    purple: (
        ignoreStyles: (),
        default: (
            background: color('500', 'purple'),
            background-outline: transparent,
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('500', 'purple'),
            color-outline: color('500', 'purple'),
            color: $color-light,
        ),
        hover: (
            background: color('600', 'purple'),
            background-outline: color('spiritual', 'purple', 0.1),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('600', 'purple'),
            color-outline: color('600', 'purple'),
            color: $color-light,
        ),
        active: (
            background: color('700', 'purple'),
            background-outline: color('spiritual', 'purple', 0.2),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('700', 'purple'),
            color-outline: color('700', 'purple'),
            color: $color-light,
        ),
    ),
    dark-blue: (
        ignoreStyles: (),
        default: (
            background: color('800', 'dark-blue'),
            background-outline: transparent,
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('800', 'dark-blue'),
            color-outline: color('800', 'dark-blue'),
            color: $color-light,
        ),
        hover: (
            background: color('800', 'dark-blue'),
            background-outline: color('800', 'dark-blue', 0.1),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('800', 'dark-blue'),
            color-outline: color('800', 'dark-blue'),
            color: $color-light,
        ),
        active: (
            background: color('800', 'dark-blue'),
            background-outline: color('800', 'dark-blue', 0.2),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('800', 'dark-blue'),
            color-outline: color('800', 'dark-blue'),
            color: $color-light,
        ),
    ),
    white: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: transparent,
            box-shadow: inset 0 0 0 $defaultBorderWidth color('200', 'gray'),
            color: color('800', 'gray'),
        ),
        hover: (
            background: color('50', 'gray', 0.1),
            box-shadow: inset 0 0 0 $defaultBorderWidth color('200', 'gray'),
            color: color('800', 'gray'),
        ),
        active: (
            background: color('hades', 'gray', 0.2),
            box-shadow: inset 0 0 0 $defaultBorderWidth color('200', 'gray'),
            color: color('800', 'gray'),
        ),
    ),
    gray: (
        default: (
            background: color('100', 'gray'),
            background-outline: transparent,
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('500', 'gray'),
            color-outline: color('500', 'gray'),
            color: color('800', 'gray'),
        ),
        hover: (
            background: color('200', 'gray'),
            background-outline: color('bali', 'gray', 0.1),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('500', 'gray'),
            color-outline: color('500', 'gray'),
            color: color('800', 'gray'),
        ),
        active: (
            background: color('300', 'gray'),
            background-outline: color('bali', 'gray', 0.2),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('500', 'gray'),
            color-outline: color('500', 'gray'),
            color: color('800', 'gray'),
        ),
    ),
    light-gray: (
        default: (
            background: color('75', 'gray'),
            background-outline: transparent,
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('500', 'gray'),
            color-outline: color('500', 'gray'),
            color: color('800', 'gray'),
        ),
        hover: (
            background: color('100', 'gray'),
            background-outline: color('bali', 'gray', 0.1),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('500', 'gray'),
            color-outline: color('500', 'gray'),
            color: color('800', 'gray'),
        ),
        active: (
            background: color('300', 'gray'),
            background-outline: color('bali', 'gray', 0.2),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('500', 'gray'),
            color-outline: color('500', 'gray'),
            color: color('800', 'gray'),
        ),
    ),
    dark-gray: (
        default: (
            background: color('800', 'gray'),
            background-outline: transparent,
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('500', 'gray'),
            color-outline: color('500', 'gray'),
            color: #FFFFFF,
        ),
        hover: (
            background: color('900', 'gray'),
            background-outline: color('bali', 'gray', 0.1),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('500', 'gray'),
            color-outline: color('500', 'gray'),
            color: #FFFFFF,
        ),
        active: (
            background: color('300', 'gray'),
            background-outline: color('bali', 'gray', 0.2),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('500', 'gray'),
            color-outline: color('500', 'gray'),
            color: #FFFFFF,
        ),
    ),
    inverted: (
        ignoreStyles: (
            'flat',
        ),
        default: (
            background-outline: transparent,
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('light', 'background'),
            color-outline: color('light', 'background'),
            color: color('text-inverted', 'general'),
        ),
        hover: (
            background-outline: color('light', 'background', 0.1),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('light', 'background'),
            color-outline: color('light', 'background'),
            color: color('text-inverted', 'general'),
        ),
        active: (
            background-outline: color('light', 'background', 0.2),
            box-shadow-outline: inset 0 0 0 $defaultBorderWidth color('light', 'background'),
            color-outline: color('light', 'background'),
            color: color('text-inverted', 'general'),
        ),
    ),
    facebook: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: color('facebook', 'social'),
            color: $color-light,
        ),
        hover: (
            background: color('facebook', 'social', 1, 1.5),
            color: $color-light,
        ),
        active: (
            background: color('facebook', 'social', 1, 3),
            color: $color-light,
        ),
    ),
    facebook--outline: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: transparent,
            box-shadow: inset 0 0 0 $defaultBorderWidth color('200', 'gray'),
            color: color('facebook', 'social'),
        ),
        hover: (
            background: color('heather', 'gray', 0.1),
            box-shadow: inset 0 0 0 $defaultBorderWidth color('200', 'gray'),
            color: color('800', 'gray'),
        ),
        active: (
            background: color('heather', 'gray', 0.2),
            box-shadow: inset 0 0 0 $defaultBorderWidth color('200', 'gray'),
            color: color('800', 'gray'),
        ),
    ),
    whatsapp: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: color('whatsapp', 'social'),
            color: $color-light,
        ),
        hover: (
            background: color('whatsapp', 'social', 1, 1.5),
            color: $color-light,
        ),
        active: (
            background: color('whatsapp', 'social', 1, 3),
            color: $color-light,
        ),
    ),
    telegram: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: color('telegram', 'social'),
            color: $color-light,
        ),
        hover: (
            background: color('telegram', 'social', 1, 1.5),
            color: $color-light,
        ),
        active: (
            background: color('telegram', 'social', 1, 3),
            color: $color-light,
        ),
    ),
    twitter: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: color('twitter', 'social'),
            color: $color-light,
        ),
        hover: (
            background: color('twitter', 'social', 1, 1.5),
            color: $color-light,
        ),
        active: (
            background: color('twitter', 'social', 1, 3),
            color: $color-light,
        ),
    ),
    twitter--outline: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: transparent,
            box-shadow: inset 0 0 0 $defaultBorderWidth color('200', 'gray'),
            color: color('twitter', 'social'),
        ),
        hover: (
            background: color('heather', 'gray', 0.1),
            box-shadow: inset 0 0 0 $defaultBorderWidth color('200', 'gray'),
            color: color('800', 'gray'),
        ),
        active: (
            background: color('heather', 'gray', 0.2),
            box-shadow: inset 0 0 0 $defaultBorderWidth color('200', 'gray'),
            color: color('800', 'gray'),
        ),
    ),

    instagram: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: linear-gradient(29.61deg, #f38334 0%, #da2e7d 50.39%, #6b54c6 100%),
            color: $color-light,
        ),
        hover: (
            background: linear-gradient(29.61deg, darken(#f38334, 10%) 0%, darken(#da2e7d, 10%) 50.39%, darken(#6b54c6, 10%) 100%),
            color: $color-light,
        ),
        active: (
            background: linear-gradient(29.61deg, #f38334 0%, #da2e7d 50.39%, #6b54c6 100%),
            color: $color-light,
        ),
        propertiesIcon: (
            margin: 0px,
        ),
    ),
    behance: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: color('behance', 'social'),
            color: $color-light,
        ),
        hover: (
            background: color('behance', 'social', 1, 1.5),
            color: $color-light,
        ),
        active: (
            background: color('behance', 'social', 1, 3),
            color: $color-light,
        ),
    ),
    dribbble: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: color('dribbble', 'social'),
            color: $color-light,
        ),
        hover: (
            background: color('dribbble', 'social', 1, 1.5),
            color: $color-light,
        ),
        active: (
            background: color('dribbble', 'social', 1, 3),
            color: $color-light,
        ),
    ),
    google: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: transparent,
            box-shadow: inset 0 0 0 $defaultBorderWidth color('200', 'gray'),
            color: color('800', 'gray'),
        ),
        hover: (
            background: color('heather', 'gray', 0.1),
            box-shadow: inset 0 0 0 $defaultBorderWidth color('200', 'gray'),
            color: color('800', 'gray'),
        ),
        active: (
            background: color('heather', 'gray', 0.2),
            box-shadow: inset 0 0 0 $defaultBorderWidth color('200', 'gray'),
            color: color('800', 'gray'),
        ),
    ),
    pinterest: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: color('pinterest', 'social'),
            color: $color-light,
        ),
        hover: (
            background: color('pinterest', 'social', 1, 1.5),
            color: $color-light,
        ),
        active: (
            background: color('pinterest', 'social', 1, 3),
            color: $color-light,
        ),
    ),
    youtube: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: color('youtube', 'social'),
            color: $color-light,
        ),
        hover: (
            background: color('youtube', 'social', 1, 1.5),
            color: $color-light,
        ),
        active: (
            background: color('youtube', 'social', 1, 3),
            color: $color-light,
        ),
    ),
    link: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: transparent,
            color: color('500', 'blue'),
        ),
        hover: (
            background: color('900', 'dark-blue', 0.1),
            color: color('500', 'blue'),
        ),
        active: (
            background: color('900', 'dark-blue', 0.1),
            color: color('500', 'blue'),
        ),
    ),
    link-color: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: transparent,
            color: color('800', 'gray'),
        ),
        hover: (
            background: color('900', 'dark-blue', 0.1),
            color: color('500', 'blue'),
        ),
        active: (
            background: color('900', 'dark-blue', 0.1),
            color: color('500', 'blue'),
        ),
    ),
    link-dark: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: transparent,
            color: color('800', 'gray'),
        ),
        hover: (
            background: color('900', 'dark-blue', 0.1),
            color: color('800', 'gray'),
        ),
        active: (
            background: color('900', 'dark-blue', 0.1),
            color: color('800', 'gray'),
        ),
    ),
    link-inverted: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: transparent,
            color: color('text-inverted', 'general'),
        ),
        hover: (
            background: color('light', 'background', 0.2),
            color: color('text-inverted', 'general'),
        ),
        active: (
            background: color('light', 'background', 0.2),
            color: color('text-inverted', 'general'),
        ),
	),
	link-gray: (
        ignoreStyles: (
            'outline',
        ),
        default: (
            background: transparent,
            color: color('400', 'gray'),
        ),
        hover: (
            background: color('900', 'dark-blue', 0.1),
            color: color('400', 'gray'),
        ),
        active: (
            background: color('900', 'dark-blue', 0.1),
            color: color('400', 'gray'),
        ),
    ),
);
$buttonGlobalColors: () !default;
$buttonDefaultColors: map-extend($defaultColors, $buttonGlobalColors);
$defaultSizes: (
    xs: (
        propertiesButton: (
            padding: 0 $base-spacing,
            min-width: $extra-small-element-height,
            height: $extra-small-element-height,
            font-size: $font-size-sm,
            line-height: $extra-small-element-height,
        ),
        propertiesIcon: (
            font-size: $extra-small-icon-width,
        ),
    ),
    sm: (
        propertiesButton: (
            padding: 0 $base-spacing,
            min-width: $small-element-height,
            height: $small-element-height,
            font-size: $font-size-sm,
            line-height: $small-element-height,
        ),
        propertiesIcon: (
            font-size: $base-icon-width,
        ),
    ),
    md: (
        propertiesButton: (
            padding: 0 $large-spacing,
            min-width: $base-element-height,
            height: $base-element-height,
            font-size: $font-size-md,
            line-height: $base-element-height,
        ),
        propertiesIcon: (
            font-size: $base-large-icon-width,
        ),
    ),
    lg: (
        propertiesButton: (
            padding: 0 $large-spacing,
            min-width: $large-element-height,
            height: $large-element-height,
            font-size: $font-size-lg,
            line-height: $large-element-height,
        ),
        propertiesIcon: (
            font-size: $large-icon-width,
        ),
    ),
    xl: (
        propertiesButton: (
            padding: 0 $large-spacing,
            min-width: $extra-large-element-height,
            height: $extra-large-element-height,
            font-size: $font-size-lg,
            line-height: $extra-large-element-height,
        ),
        propertiesIcon: (
            font-size: $extra-large-icon-width,
        ),
    ),
);
$buttonGlobalSizes: () !default;
$buttonDefaultSizes: map-extend($defaultSizes, $buttonGlobalSizes);
$defaultStyles: (
    flat: (
        background: 'background',
        box-shadow: 'box-shadow',
        color: 'color',
        line-height: 'line-height',
    ),
    outline: (
        background: 'background-outline',
        box-shadow: 'box-shadow-outline',
        color: 'color-outline',
        line-height: 'line-height-outline',
    ),
);
$buttonGlobalStyles: () !default;
$buttonDefaultStyles: map-extend($defaultStyles, $buttonGlobalStyles);
$defaultSettings: (
    borderRadius: $base-border-radius,
    borderWidth: 2px,
    borderStyle: solid,
    padding: 0 $base-spacing,
    color: $buttonDefaultColors,
    defaultColor: blue,
    defaultPrefix: 'button',
    defaultSize: 'md',
    defaultStyle: 'flat',
    defaultFontWeight: 600,
    defaultTiming: linear,
    defaultDuration: 250ms,
    size: $buttonDefaultSizes,
    style: $buttonDefaultStyles,
);

$buttonSettings: $defaultSettings !default;

$buttonColors: map-get($buttonSettings, 'color') !default;
$buttonSizes: map-get($buttonSettings, 'size') !default;
$buttonStyles: map-get($buttonSettings, 'style') !default;
$buttonBorderRadius: map-get($buttonSettings, 'borderRadius') !default;
$buttonBorderWidth: map-get($buttonSettings, 'borderWidth') !default;
$buttonBorderStyle: map-get($buttonSettings, 'borderStyle') !default;
$buttonPadding: map-get($buttonSettings, 'padding') !default;

$defaultColorMap: map-get($buttonColors, map-get($buttonSettings, 'defaultColor')) !default;
$defaultColorDefaultMap: map-get($defaultColorMap, 'default') !default;
$defaultColorHoverMap: map-get($defaultColorMap, 'hover') !default;
$defaultColorActiveMap: map-get($defaultColorMap, 'active') !default;
$defaultFontWeight: map-get($buttonSettings, 'defaultFontWeight') !default;
$defaultDuration: map-get($buttonSettings, 'defaultDuration') !default;
$defaultPrefix: map-get($buttonSettings, 'defaultPrefix') !default;
$defaultSizeMap: map-get($buttonSizes, map-get($buttonSettings, 'defaultSize')) !default;
$defaultStyleMap: map-get($buttonStyles, map-get($buttonSettings, 'defaultStyle')) !default;
$defaultTiming: map-get($buttonSettings, 'defaultTiming') !default;
