@if $profile-login-v1-0 {    
    .profile-login {
        margin: 0;
        padding: 0;

        .modal__container {
            max-width: $profile-login-max-width;
            padding-top: $large-element-height + $base-spacing;

            .content {
				overflow: visible;
                position: relative;
            }

            @include breakpoint('xs') {
                padding-top: $base-element-height + $base-spacing;
            }           
        }
    
        .group {
            margin: 0 0 $small-spacing;
    
            &:last-child {
                margin: 0;
            }
    
            .group__context {
                padding: 0;
            }
        }
    
        .tabs {
            #tab-subscribe {
                overflow: hidden;
                margin: ($base-spacing * -1) ($extra-large-spacing * -1) ($extra-large-spacing * -1) ($extra-large-spacing * -1);
            
                .background {
                    position: relative;
            
                    .content {
                        position: relative;
                        top: 0;
                        left: 0;
                        z-index: 2;
                    }
            
                    .content {
                        padding: ($extra-large-spacing + $small-spacing) $extra-large-spacing $base-spacing $extra-large-spacing;
            
                        .link {
                            &:hover {
                                color: color('text-inverted', 'general');
                                text-decoration: underline;
                            }
                        }
            
                        p {
                            color: color('text-inverted', 'general');
            
                            &.font-xs {
                                color: color('400', 'gray');
            
                                a {
                                    color: color('400', 'gray');
            
                                    &:hover {
                                        color: color('400', 'gray');
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
            
                    svg.block {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        z-index: 1;
                        width: 101%;
                        transform: translate(-50%, 0);
                    }
                }
            
                .content {
                    padding: ($large-spacing + $small-spacing) ($large-spacing + $small-spacing) $large-spacing ($large-spacing + $small-spacing);
                    text-align: center;
            
                    #{$all-headings} {
                        color: color('500', 'blue');
                    }
            
                    p {
                        color: color('600', 'gray');
                    }
                }
            }

            &__navigation {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
        
                margin: (($large-spacing + $small-spacing) * -1) (($large-spacing + $small-spacing) * -1) $base-spacing (($large-spacing + $small-spacing) * -1);
    
                [data-tab="tab-forgot-password"] {
                    &.active ~ button {
                        display: none;
                    }
                }

                [data-tab="tab-subscribe"] {
                    &.active ~ button {
                        display: none;
                    }
                }
    
                button {
                    flex: 1 0 auto;
        
                    height: $extra-large-element-height;
        
                    box-shadow: inset $small-box-shadow;
                    
                    background-color: color('1' , 'gray', .50);
        
                    color: color('600', 'gray');
                    font-size: $extra-large-font-size;
                    font-weight: $semi-font-weight;
                    text-align: center;
                    line-height: $extra-large-element-height;
        
                    &.active {
                        color: color('800', 'gray');
                        box-shadow: none;
                        background-color: color('light', 'background');
                    }
                }
            }
        }
        
        .scrollable {
            padding: 0 $base-spacing;
        }
    
        &__projects {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: $large-element-height;
            background: color('light', 'background');
            pointer-events: all !important;
            cursor: inherit !important;
            line-height: 0;

            & > * {
                pointer-events: all !important;
                cursor: inherit !important;
            }

            .content {
                max-width: $profile-login-max-width;
                height: 100%;
                margin: 0 auto;
            }

            .row {
                height: 100%;
            }

            img {
                display: block;
            }

            a {
                padding: 0 $small-spacing;

                &:first-child img {
                    margin-left: auto;
                }
            }

            @include breakpoint('xs') {
                height: $base-element-height;

                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 30px;
                }

                a {
                    width: 33.33%;
                }
            }
        }

        &__intro {
            color: color('400', 'gray');
            text-align: center;

            img {
                display: block;
                margin: 0 auto $base-spacing auto;
            }

            a {
                color: color('400', 'gray');

                &:hover {
                    color: color('400', 'gray');
                    text-decoration: underline;
                }
            }
        }
    
        &__hr {
            position: relative;
    
            margin: 0 0 $small-spacing;
            padding: $base-spacing;
    
            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
    
                display: block;
                
                width: 80%;
                height: $base-border-width;
                
                background-color: color('50', 'gray', .80);
    
                transform: translate(-50%, -50%);
    
                content: '';
            }
    
            span {
                position: absolute;
                top: 50%;
                left: 50%;
    
                display: block;
    
                padding: $extra-small-spacing $small-spacing;;
    
                transform: translate(-50%, -50%);
    
                background-color: color('light', 'background');
            }
        }
    
        @include breakpoint('sm') {
            .modal__container > .content {
                padding: $base-spacing;
            }
    
            .tabs {
                &__navigation {
                    margin: ($base-spacing * -1) ($base-spacing * -1) $base-spacing ($base-spacing * -1);
    
                    button {
                        font-size: $small-font-size;
                    }
                }
            }
        }
    }
}