// Enable Partials
$accordion-v1-0: 		true;
$avatar-v1-0: 			true;
$badge-v1-0: 			true;
$breadcrumb-v1-0: 		false;
$button-v1-0: 			true;
$caption-v1-0: 			true;
$comment-v1-0: 			false;
$expandable-v1-0:		true;
$form-v1-0: 			true;
$general-v1-0: 			true;

// Grid
$grid-mode:		 		'flexbox'; // flexbox or float
$grid-v1-0: 			true;
$grid--pull:			false;  
$grid--push:			false;
$grid--offset:			false;

$helper-v1-0: 			true;
$icon-v1-0: 			false; 
$icon-v2-0: 			true; 
$list-v1-0: 			true;
$modal-v1-0: 			true;
$nav-v1-0:	 			true;
$notification-v1-0: 	false; 
$notification-v1-1: 	true; 
$pagination-v1-0: 		true;
$popover-v1-0: 			true;
$social-v1-0: 			false;
$tab-v1-0: 				true;
$tables-v1-0:			false;
$tag-v1-0: 				true;
$tooltip-v1-0: 			true;
$typography-v1-0: 		true;

// GR Library
$gr-auth-v1-0:     		true;

// Profile
$profile-login-v1-0:	true;