<div id="modal-{{name}}" class="modal">
    <div class="modal__container">
        <div class="content">
            <button class="modal__close button button--icon button--link nostyle mg-none-i">
                <i class="icon--cross"></i>
            </button>
        	{{{html}}}
        </div>
    </div>

    {{{containerHtml}}}
</div>