<div id="modal-{{name}}" class="modal">
    <div class="modal__container">
        <button class="modal__close button button--sm button--icon button--link-dark">
            <i class="icon--cross"></i>
        </button>
        <div class="content">
        	{{{html}}}
        </div>
    </div>

    {{{containerHtml}}}
</div>