<div id="modal-{{name}}" class="modal">
    <div class="modal__container">
        <button class="modal__close modal__close--absolute modal__close--top-right button button--sm button--flat button--pill button--icon button--icon--only button--default--hover nostyle mg-none-i">
            <i class="icon icon--xs icon--mg-sm icon--cross"></i>
        </button>

        <div class="content">
        	{{{html}}}
        </div>
    </div>
</div>