<div class="status-message status-message--{{status}}">
    <div class="status-message__icon mg-botton-lv2">
        <i class="icon icon--lg icon--mg-lg icon--{{icon}}"></i>
    </div>

    <p class="status-message__msg font-lg">{{message}}</p>

    <button class="feedback__close button button--md button--flat">{{text.close}}</button>
</div>