<div 
	id="{{id}}" 
	class="notification{{#if class}} {{class}}{{/if}}" 
    {{#if recurrent}} data-recurrent="true" {{/if}}>

    {{#if fixed}}
	<button class="notification__close button button--sm button--pill button--flat button--icon button--icon--only">
		<i class="icon icon--xs icon--mg-sm icon--cross"></i>
	</button>
    {{/if}}

	<div class="notification__content">
		{{{html}}}

		{{#if recurrent}}
			@require('../notification-disable.hbs')
		{{/if}}
	</div>

	{{#if target}}<div class="notification__triangle"></div>{{/if}}
</div>