<div id="modal-{{name}}" class="modal">
    <div class="modal__container">
        <button class="modal__close button button--icon button--icon--only button--outline button--main--hover button--sm">
            <svg class="icon icon--sm icon--mg-sm icon--close"><use xlink:href="{{URL_STATIC_IMG}}sprite-linear.svg#icon-cross"></use></svg>
        </button>
        
        <div class="content">
        	{{html|raw}}
        </div>
    </div>
</div>