@if $accordion-v1-0 {
	.accordion {
		@include clearfix;

		position: relative;

		overflow: hidden;

		margin: 0 0 $base-spacing;
		padding: 0;

		line-height: $base-line-height;

		@include modifier('tabs') {
			@include breakpoint('xs', 'min') {
				.accordion__container {
					display: inline;

					border: none;
				}

				.accordion__content {
					float: left;

					border-top: $base-border;
				}

				.accordion__link {
					&:not(.nostyle) {
						display: inline-block;

						&.active {
							border-bottom: 1px solid color('text', 'general');
						}						
					}
				}
			}		
		}

		@include element('container') {
			margin: 0 0 $small-spacing;

			list-style: none;

			border: $base-border;
			
			&:last-child {
				margin-bottom: 0;
			}
		}

		@include element('content') {
			@include position(absolute, 100% null null 0);

			width: 100%;

			padding: $small-spacing $base-spacing;

			p:last-child {
				margin: 0;
			}
		}

		@include element('link') {
			&:not(.nostyle) {
				display: block;

				padding: $small-spacing $small-spacing $small-spacing $base-spacing;

				text-decoration: none;

				.icon {
					color: color('link', 'general');
				}

				.state--active {
					display: none;
				}

				&.active {
					color: color('link', 'general');

					.state--active {
						display: block;
					}
					.state--inactive {
						display: none;
					}
				}
			}			

			&.active + .accordion__content {
				position: relative;

				display: block;
			}
		}

		@include modifier('inverted') {
			color: color('text-inverted', 'general');

			a:not(.button) {
				color: color('link-inverted', 'general', .75);

				&:hover, &.active {
					color: color('link-inverted', 'general');					
				}				
			}
		}
	}
} // End if