@if $accordion-v1-0 {
	.accordion {
		@include clearfix;

		position: relative;

		overflow: hidden;

		margin: 0 0 $base-spacing;
		padding: 0;

		line-height: $base-line-height;

		&:not(.accordion--ready) {
			.accordion__mobile-nav {
				position: absolute;

				visibility: hidden;

				border-bottom: $base-border;
			}

			.accordion__container > a,
			.accordion__container > button {
				visibility: hidden;
			}
		}

		&--tabs {
			@include breakpoint('xs', 'min') {
				.accordion__container {
					display: inline;

					border: none;
				}

				.accordion__content {
					float: left;

					border-top: $base-border;
				}

				.accordion__link {
					&:not(.nostyle) {
						display: inline-block;

						&.active {
							border-bottom: 1px solid color('text', 'general');
						}						
					}
				}
			}		
		}

		&__container {
			margin: 0 0 $small-spacing;

			list-style: none;

			border: $base-border;
			
			&:last-child {
				margin-bottom: 0;
			}

			@include breakpoint('md') {
				
			}
		}

		&__content {
			@include position(absolute, 100% null null 0);

			width: 100%;

			padding: $small-spacing $base-spacing;

			p:last-child {
				margin: 0;
			}
		}

		&__mobile-nav {
			padding: 0 $base-spacing;
		}

		&__select {
			@include appearance(none);

			height: $base-element-height;

			border: none;

			background: transparent;

			text-align: center;

			&__wrapper {
				position: relative;
				
				display: inline-block;

				padding: 0 ($base-triangle-size + $extra-small-spacing) 0 0;

				&::after {
					@include triangle($base-triangle-size, color('text', 'general'), down);

					position: absolute;
					top: 50%;
					right: 0;					

					transform: translateY(-50%);

					content: '';
				}
			}
		}

		&__link {
			&:not(.nostyle) {
				display: block;

				padding: $small-spacing $small-spacing $small-spacing $base-spacing;

				text-decoration: none;

				color: color('accordion', 'general');

				.icon {
					color: color('accordion', 'general');
				}

				.state--active {
					display: none;
				}

				&.active {
					color: color('link', 'general');

					.icon {
						color: color('link', 'general');
					}

					.state--active {
						display: block;
					}
					.state--inactive {
						display: none;
					}
				}
			}			

			&.active + .accordion__content {
				position: relative;

				display: block;
			}
		}

		&--inverted {
			color: color('text-inverted', 'general');

			a:not(.button) {
				color: color('link-inverted', 'general', .75);

				&:hover, &.active {
					color: color('link-inverted', 'general');					
				}				
			}
		}
	}
} // End if