@if $breadcrumb-v1-0 {
	.breadcrumbs {
		@include clearfix;

		overflow: hidden;

		display: inline-block;

		margin: 0 0 $base-spacing;

		border: $base-border;
		border-radius: $base-border-radius;

		background-color: color('body', 'background');

		@include element('link') {
			position: relative;

			display: block;

			float: left;

			padding: ($small-spacing / 2) $base-spacing;

			color: color('text', 'general', .6);
			font-size: $small-font-size;
			text-decoration: none;

			@include breakpoint('sm') {
				padding: ($small-spacing / 4) $small-spacing;

				font-size: $extra-small-font-size;

				&::before,
				&::after {
				    border-bottom-width: $small-spacing;
				    border-left-width: ($small-spacing / 4);
				    border-top-width: $small-spacing;
				}
			} 

			&::before,
			&::after {
				@include position(absolute, 50% auto 0 100%);
				@include transform(translate(-50%, -50%));
				    
			    display: block;

			    margin: auto;

			    border-bottom: $base-spacing solid transparent;
			    border-left: ($small-spacing / 2) solid transparent;
			    border-top: $base-spacing solid transparent;

			    z-index: 2;

			    content: '';
			}

			&::before {
				margin: 0 0 0 1px;

				border-left-color: color('border', 'general');

				z-index: 1;
			}

			&::after {
				border-left-color: color('body', 'background');	
			}

			&:last-child {
				color: color('text', 'general');
				font-weight: bold;

				&::before,
				&::after {
					border: none;
				}
			}
		}
	}
} // End if