@use "sass:math";
@if $breadcrumb-v1-0 {
	.breadcrumbs {
		@include clearfix;

		overflow: hidden;

		display: inline-block;

		margin: 0 0 $base-spacing;

		@include element("link") {
			position: relative;

			display: block;

			float: left;

			padding: math.div($small-spacing, 2) $base-spacing;

			font-size: $font-size-sm;
			text-decoration: none;

			&:first-child {
				padding-left: 0;
			}

			a {
				color: color("text", "general", 0.6);
			}

			@include breakpoint("sm") {
				padding: math.div($small-spacing, 4) $small-spacing;

				font-size: $font-size-sm;
			} 

			&::after {
				content: "/";

				color: color("text", "general", 0.4);

				position: absolute;
				right: 0;
			}

			&:last-child {
				a {
					color: color("text", "general");
					font-weight: semibold;
				}

				&::after {
					content: "";
				}
			}
		}
	}
} // End if
