@if $comment-v1-0 {
	.comments {
		.comment {
			@include element('content') {
				@include flex(1);
			}

			@include element('image') {
				margin: 0 $small-spacing 0 0;
			}

			.author {
				font-weight: bold;
			}

			p {
				margin: 0 0 $extra-small-spacing;
				padding: $extra-small-spacing 0 0 0;

				font-size: $small-font-size;
			}
		}

		ul {
			ul {
				margin: $base-spacing 0 0 0;
				padding: 0 0 0 ($avatar-width-sm + $small-spacing);

				border-left: $base-border;
				border-width: $base-border-width * 2;
			}

			li {
				margin: 0 0 $base-spacing;
			}
		}
	}
} // End if