@if $feedback-v1-0 {
  .feedback {
    $icon-width: 50px;
    $icon-height: 50px;

    &--fixed {
      font-smoothing: subpixel-antialiased;

      position: fixed;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      transform: translateZ(0) scale(1, 1);

      pointer-events: none !important;

      z-index: 400;

      &.active {
        pointer-events: all !important;

        * {
          pointer-events: all !important;
        }

        .feedback__box {
          transform: translateX(0);

          box-shadow: 0 0 30px color("shadow", "general", 0.25);
        }

        @if ($button-v3-0) {
          .feedback__trigger {
            @extend .button--state.active;
          }
        }

        @if ($button-v4-0) {
          .feedback__trigger {
            @extend %button--state;
          }
        }
      }
    }

    &--pointer-events {
      &.active {
        pointer-events: none !important;
      }
    }

    &__wrapper {
      & > .feedback-content {
        color: color("text", "feedback");
        text-align: center;

        label {
          margin: 0 $extra-small-spacing;
        }
      }
    }

    &__box {
      position: absolute;
      bottom: 5%;
      right: 0;

      width: 100%;
      max-width: 380px;
      min-height: 148px;

      transform: translateX(100%);

      border-top: 5px solid color("secondary", "feedback");

      background-color: color("wrapper", "feedback");

      box-shadow: 0 0 0px color("shadow", "general", 0.25);

      transition: $feedback-duration $feedback-timing;

      pointer-events: all;

      * {
        pointer-events: all !important;
      }

      @include breakpoint("xs") {
        max-width: calc(
          100% - #{$extra-small-button-height + $extra-small-spacing}
        );
      }
    }

    &__trigger {
      position: absolute;
      right: 100%;
      top: -5px;

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      background-color: color("secondary", "feedback");
    }

    &__icon {
      width: $icon-width;
      height: $icon-height;

      padding: 0 $extra-small-spacing;

      font-size: $icon-width;
      line-height: $icon-height;

      box-sizing: content-box;
    }

    #{$all-headings} {
      color: color("text", "feedback");
    }

    .status-message {
      text-align: center;

      &--success {
        .status-message__icon {
          border-color: color("green", "state");

          .icon {
            color: color("green", "state");
          }
        }
      }

      &--error {
        .status-message__icon {
          margin: 0 0 $small-spacing;

          border-color: color("red", "state");

          .icon {
            color: color("red", "state");
          }
        }
      }

      &__icon {
        display: inline-block;

        border: 5px solid;
        border-radius: 50%;

        font-size: 0;
      }
    }

    .content {
      padding: $base-spacing;

      &.form-content {
        display: none;
      }
    }

    input[name="option"] {
      display: none;

      &:checked {
        & ~ .form-content {
          display: block;
        }

        & ~ .feedback-content {
          display: none;
        }
      }
    }

    form {
      display: none;

      .error-msg {
        position: relative;

        margin: $extra-small-spacing 0 0 0;
        padding: 0 0 0 $base-icon-height + $extra-small-spacing;

        color: color("red", "state");

        line-height: 20px;

        .icon {
          position: absolute;
          top: 9px;
          left: 0;

          transform: translateY(-50%);

          color: color("red", "state");
        }
      }

      label {
        display: block;

        margin: 0 0 $extra-small-spacing;
      }
    }
  }
}
