@if ($button-v4-0 and $follow-v1-0) {
    $prefix: 'button--outline.';

    .follow {
        min-width: 130px;

        &::before {
            content: attr(data-base);
        }

        &--active {
            &::before {
                content: attr(data-active);
            }

            &:hover,
            &:focus {
                &::before {
                    content: attr(data-active-hover);
                }

                @extend %#{$prefix}button--red;
            }

            &:not(:hover):not(:focus) {
                @extend %#{$prefix}button--gray;
            }
        }

        @extend %button;
        @extend %button--outline;
    }
}
