@if $general-v1-0 {
	body {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		overflow: auto;	

		height: auto;
		min-height: 100vh !important;

		background-color: color('body', 'background');

		color: color('text', 'general');
		font-family: $base-font-family;
		font-size: $base-font-size;
		line-height: $base-line-height;

		-webkit-font-smoothing: antialiased;

		// IE 11
		@media all and (-ms-high-contrast:none) {
			display: block;
		}

		& > * {
			width: 100%;
		}
	}

	main {
		flex: 1;

		overflow: hidden;

		& > :last-child {
			margin-bottom: 0;
		}

		section {
			margin: 0 0 $large-spacing;
		}
	}

	* {
		box-sizing: border-box;
		
		outline: none; 
	}
} // End if