@if $general-v1-0 {
	body {
		@include prefixer(align-items, flex-start, spec ms);
		@include prefixer(display, flex, spec ms);
		@include prefixer(flex-direction, column, spec ms);
		@include prefixer(flex-wrap, wrap, spec ms);

		overflow: auto;	

		height: auto;
		min-height: 100vh !important;

		background-color: color('body', 'background');

		color: color('text', 'general');
		font-family: $base-font-family;
		font-size: $font-size-md;
		line-height: $line-height-160;

		-webkit-font-smoothing: antialiased;

		// IE 11
		@media all and (-ms-high-contrast:none) {
			display: block;
		}

		& > * {
			width: 100%;
		}
	}

	html[lang="ko"] body,
	html[lang="jp"] body,
	html[lang="ru"] body {
		font-family: var(--non-latin-font);
	}

	main {
		@include prefixer(flex, 1, spec ms);

		overflow: hidden;

		& > :last-child {
			margin-bottom: 0;
		}

		section {
			margin: 0 0 $large-spacing;
		}
	}

	* {
		box-sizing: border-box;
		
		outline: none; 
	}
} // End if