@if $icon-v2-0 {
    $webfont: "bobjoll" !global;

	@font-face {
		font-family: $webfont;
		src: url("~bobjoll/fonts/bobjoll.woff2?c8819c51ac894743dd4226c9be6c07d1") format("woff2"),
url("~bobjoll/fonts/bobjoll.woff?c8819c51ac894743dd4226c9be6c07d1") format("woff");
	}

    %icon {
		display: block;

        text-transform: none;

        -webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		speak: none;
		
		&::before {
			font-family: $webfont;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
		}
    }

    .icon {
        @extend %icon;

        width: $base-icon-width;
        height: $base-icon-height;

        font-size: $base-icon-width;
        line-height: $base-icon-height;

        color: color('icon', 'general');
        fill: color('icon', 'general');
    }

    .icon--inverted {
        color: color('icon-inverted', 'general') !important;
        fill: color('icon-inverted', 'general') !important;
    }

    $map: map-get($colors, 'social');

    @each $color, $hex in $map {
        .icon--#{$color} {
            color: $hex;
            fill: $hex;
        }
    }

    @each $size1 in $sizes {
        $map: map-get($icon-sizes, $size1);

            .icon--#{$size1} {
            width: map-get($map, 'width');
            height: map-get($map, 'height');

            font-size: map-get($map, 'width');
            line-height: map-get($map, 'height');

            @each $size2 in $sizes {
                $icon-spacing: ((map-get($base-sizes, $size2) - map-get($map, 'height')) / 2);

                &.icon--mg-#{$size2} { padding: $icon-spacing; box-sizing: content-box; }
            } // End spacing
        }       
    }
    
    .icon--3d { &::before { content: "\f101"; } }
    .icon--add-to-folder { &::before { content: "\f102"; } }
    .icon--addcollection { &::before { content: "\f103"; } }
    .icon--advanced { &::before { content: "\f104"; } }
    .icon--aligncenter { &::before { content: "\f105"; } }
    .icon--alignleft { &::before { content: "\f106"; } }
    .icon--alignright { &::before { content: "\f107"; } }
    .icon--amex { &::before { content: "\f108"; } }
    .icon--archive { &::before { content: "\f109"; } }
    .icon--background { &::before { content: "\f10a"; } }
    .icon--backwards { &::before { content: "\f10b"; } }
    .icon--beacon-lineal { &::before { content: "\f10c"; } }
    .icon--beacon { &::before { content: "\f10d"; } }
    .icon--beginner { &::before { content: "\f10e"; } }
    .icon--behance { &::before { content: "\f10f"; } }
    .icon--bold { &::before { content: "\f110"; } }
    .icon--book { &::before { content: "\f111"; } }
    .icon--bookmark-filled { &::before { content: "\f112"; } }
    .icon--bookmark { &::before { content: "\f113"; } }
    .icon--briefcase { &::before { content: "\f114"; } }
    .icon--brush { &::before { content: "\f115"; } }
    .icon--bug { &::before { content: "\f116"; } }
    .icon--bullet { &::before { content: "\f117"; } }
    .icon--calendar { &::before { content: "\f118"; } }
    .icon--camera { &::before { content: "\f119"; } }
    .icon--caret-down { &::before { content: "\f11a"; } }
    .icon--caret-left { &::before { content: "\f11b"; } }
    .icon--caret-right { &::before { content: "\f11c"; } }
    .icon--caret-up { &::before { content: "\f11d"; } }
    .icon--check { &::before { content: "\f11e"; } }
    .icon--checkbox { &::before { content: "\f11f"; } }
    .icon--circle-filled { &::before { content: "\f120"; } }
    .icon--circle-lineal-small { &::before { content: "\f121"; } }
    .icon--circle-lineal { &::before { content: "\f122"; } }
    .icon--circle { &::before { content: "\f123"; } }
    .icon--clean { &::before { content: "\f124"; } }
    .icon--clip { &::before { content: "\f125"; } }
    .icon--cloud { &::before { content: "\f126"; } }
    .icon--collapse { &::before { content: "\f127"; } }
    .icon--collection { &::before { content: "\f128"; } }
    .icon--comment { &::before { content: "\f129"; } }
    .icon--cookie { &::before { content: "\f12a"; } }
    .icon--copy-image { &::before { content: "\f12b"; } }
    .icon--copyright { &::before { content: "\f12c"; } }
    .icon--coupon { &::before { content: "\f12d"; } }
    .icon--create-folder-filled { &::before { content: "\f12e"; } }
    .icon--create-folder { &::before { content: "\f12f"; } }
    .icon--credit-card { &::before { content: "\f130"; } }
    .icon--crop { &::before { content: "\f131"; } }
    .icon--cross-small { &::before { content: "\f132"; } }
    .icon--cross { &::before { content: "\f133"; } }
    .icon--crown { &::before { content: "\f134"; } }
    .icon--dashboard { &::before { content: "\f135"; } }
    .icon--devices { &::before { content: "\f136"; } }
    .icon--disabled { &::before { content: "\f137"; } }
    .icon--display-options { &::before { content: "\f138"; } }
    .icon--dollar { &::before { content: "\f139"; } }
    .icon--down-small { &::before { content: "\f13a"; } }
    .icon--down { &::before { content: "\f13b"; } }
    .icon--download { &::before { content: "\f13c"; } }
    .icon--dribbble { &::before { content: "\f13d"; } }
    .icon--duplicate { &::before { content: "\f13e"; } }
    .icon--earnings { &::before { content: "\f13f"; } }
    .icon--edit { &::before { content: "\f140"; } }
    .icon--empty { &::before { content: "\f141"; } }
    .icon--envelope-solid { &::before { content: "\f142"; } }
    .icon--envelope { &::before { content: "\f143"; } }
    .icon--exclamation { &::before { content: "\f144"; } }
    .icon--external-link { &::before { content: "\f145"; } }
    .icon--eye-line-through { &::before { content: "\f146"; } }
    .icon--eye { &::before { content: "\f147"; } }
    .icon--facebook { &::before { content: "\f148"; } }
    .icon--file { &::before { content: "\f149"; } }
    .icon--filter { &::before { content: "\f14a"; } }
    .icon--fiverr { &::before { content: "\f14b"; } }
    .icon--flag { &::before { content: "\f14c"; } }
    .icon--flame { &::before { content: "\f14d"; } }
    .icon--flaticon { &::before { content: "\f14e"; } }
    .icon--flip { &::before { content: "\f14f"; } }
    .icon--fold { &::before { content: "\f150"; } }
    .icon--folder { &::before { content: "\f151"; } }
    .icon--follow-folder { &::before { content: "\f152"; } }
    .icon--followcollection { &::before { content: "\f153"; } }
    .icon--following { &::before { content: "\f154"; } }
    .icon--font { &::before { content: "\f155"; } }
    .icon--forwards { &::before { content: "\f156"; } }
    .icon--fullscreen { &::before { content: "\f157"; } }
    .icon--globe { &::before { content: "\f158"; } }
    .icon--google { &::before { content: "\f159"; } }
    .icon--grid { &::before { content: "\f15a"; } }
    .icon--headphones { &::before { content: "\f15b"; } }
    .icon--headquarters { &::before { content: "\f15c"; } }
    .icon--heart-filled { &::before { content: "\f15d"; } }
    .icon--heart { &::before { content: "\f15e"; } }
    .icon--history { &::before { content: "\f15f"; } }
    .icon--home { &::before { content: "\f160"; } }
    .icon--hourglass { &::before { content: "\f161"; } }
    .icon--images { &::before { content: "\f162"; } }
    .icon--inbox { &::before { content: "\f163"; } }
    .icon--info { &::before { content: "\f164"; } }
    .icon--instagram { &::before { content: "\f165"; } }
    .icon--interactive { &::before { content: "\f166"; } }
    .icon--intermediate { &::before { content: "\f167"; } }
    .icon--interogation { &::before { content: "\f168"; } }
    .icon--italic { &::before { content: "\f169"; } }
    .icon--justify { &::before { content: "\f16a"; } }
    .icon--keyboard { &::before { content: "\f16b"; } }
    .icon--laptop { &::before { content: "\f16c"; } }
    .icon--layers { &::before { content: "\f16d"; } }
    .icon--left-small { &::before { content: "\f16e"; } }
    .icon--left { &::before { content: "\f16f"; } }
    .icon--license { &::before { content: "\f170"; } }
    .icon--light-bulb { &::before { content: "\f171"; } }
    .icon--linkedin { &::before { content: "\f172"; } }
    .icon--list { &::before { content: "\f173"; } }
    .icon--lock-open-solid { &::before { content: "\f174"; } }
    .icon--lock-solid { &::before { content: "\f175"; } }
    .icon--lock { &::before { content: "\f176"; } }
    .icon--logo-symbol-old { &::before { content: "\f177"; } }
    .icon--logo-symbol { &::before { content: "\f178"; } }
    .icon--logo-text-old { &::before { content: "\f179"; } }
    .icon--logo-text { &::before { content: "\f17a"; } }
    .icon--logout { &::before { content: "\f17b"; } }
    .icon--marker { &::before { content: "\f17c"; } }
    .icon--master-card { &::before { content: "\f17d"; } }
    .icon--menuburger { &::before { content: "\f17e"; } }
    .icon--menudots-vertical { &::before { content: "\f17f"; } }
    .icon--menudots { &::before { content: "\f180"; } }
    .icon--minimize { &::before { content: "\f181"; } }
    .icon--minus-small { &::before { content: "\f182"; } }
    .icon--minus { &::before { content: "\f183"; } }
    .icon--mockup { &::before { content: "\f184"; } }
    .icon--move-to-folder-2 { &::before { content: "\f185"; } }
    .icon--move-to-folder { &::before { content: "\f186"; } }
    .icon--next-small { &::before { content: "\f187"; } }
    .icon--next { &::before { content: "\f188"; } }
    .icon--notification-filled { &::before { content: "\f189"; } }
    .icon--notification { &::before { content: "\f18a"; } }
    .icon--o-horizontal { &::before { content: "\f18b"; } }
    .icon--o-panoramic { &::before { content: "\f18c"; } }
    .icon--o-square { &::before { content: "\f18d"; } }
    .icon--o-vertical { &::before { content: "\f18e"; } }
    .icon--opacity { &::before { content: "\f18f"; } }
    .icon--palette { &::before { content: "\f190"; } }
    .icon--paper-plane { &::before { content: "\f191"; } }
    .icon--paper-plane2 { &::before { content: "\f192"; } }
    .icon--paste { &::before { content: "\f193"; } }
    .icon--pause { &::before { content: "\f194"; } }
    .icon--paypal { &::before { content: "\f195"; } }
    .icon--pencil { &::before { content: "\f196"; } }
    .icon--phone { &::before { content: "\f197"; } }
    .icon--photo { &::before { content: "\f198"; } }
    .icon--picpeople-filled { &::before { content: "\f199"; } }
    .icon--picpeople { &::before { content: "\f19a"; } }
    .icon--pinterest { &::before { content: "\f19b"; } }
    .icon--pixabay { &::before { content: "\f19c"; } }
    .icon--play { &::before { content: "\f19d"; } }
    .icon--plus-small { &::before { content: "\f19e"; } }
    .icon--plus { &::before { content: "\f19f"; } }
    .icon--prev-small { &::before { content: "\f1a0"; } }
    .icon--prev { &::before { content: "\f1a1"; } }
    .icon--projects { &::before { content: "\f1a2"; } }
    .icon--psd { &::before { content: "\f1a3"; } }
    .icon--quote { &::before { content: "\f1a4"; } }
    .icon--receipt { &::before { content: "\f1a5"; } }
    .icon--redo { &::before { content: "\f1a6"; } }
    .icon--reflect-horizontal { &::before { content: "\f1a7"; } }
    .icon--reflect-vertical { &::before { content: "\f1a8"; } }
    .icon--refresh { &::before { content: "\f1a9"; } }
    .icon--remove-folder { &::before { content: "\f1aa"; } }
    .icon--removecollection { &::before { content: "\f1ab"; } }
    .icon--replace { &::before { content: "\f1ac"; } }
    .icon--resources { &::before { content: "\f1ad"; } }
    .icon--right-small { &::before { content: "\f1ae"; } }
    .icon--right { &::before { content: "\f1af"; } }
    .icon--rotate-inverted { &::before { content: "\f1b0"; } }
    .icon--rotate { &::before { content: "\f1b1"; } }
    .icon--save { &::before { content: "\f1b2"; } }
    .icon--search { &::before { content: "\f1b3"; } }
    .icon--security { &::before { content: "\f1b4"; } }
    .icon--settings { &::before { content: "\f1b5"; } }
    .icon--share { &::before { content: "\f1b6"; } }
    .icon--shopping-cart { &::before { content: "\f1b7"; } }
    .icon--shuffle { &::before { content: "\f1b8"; } }
    .icon--slidesgo { &::before { content: "\f1b9"; } }
    .icon--smiley-comment { &::before { content: "\f1ba"; } }
    .icon--sortcollection { &::before { content: "\f1bb"; } }
    .icon--speaker { &::before { content: "\f1bc"; } }
    .icon--spinner { &::before { content: "\f1bd"; } }
    .icon--square-lineal { &::before { content: "\f1be"; } }
    .icon--square { &::before { content: "\f1bf"; } }
    .icon--squares { &::before { content: "\f1c0"; } }
    .icon--squircle-lineal { &::before { content: "\f1c1"; } }
    .icon--squircle { &::before { content: "\f1c2"; } }
    .icon--star-comment { &::before { content: "\f1c3"; } }
    .icon--star-filled { &::before { content: "\f1c4"; } }
    .icon--star { &::before { content: "\f1c5"; } }
    .icon--stats { &::before { content: "\f1c6"; } }
    .icon--stop { &::before { content: "\f1c7"; } }
    .icon--stumbleupon { &::before { content: "\f1c8"; } }
    .icon--subtitles { &::before { content: "\f1c9"; } }
    .icon--support { &::before { content: "\f1ca"; } }
    .icon--tablet { &::before { content: "\f1cb"; } }
    .icon--tag { &::before { content: "\f1cc"; } }
    .icon--telegram { &::before { content: "\f1cd"; } }
    .icon--template-alt { &::before { content: "\f1ce"; } }
    .icon--template { &::before { content: "\f1cf"; } }
    .icon--thumb-down { &::before { content: "\f1d0"; } }
    .icon--thumb-up { &::before { content: "\f1d1"; } }
    .icon--time { &::before { content: "\f1d2"; } }
    .icon--trash { &::before { content: "\f1d3"; } }
    .icon--twitter { &::before { content: "\f1d4"; } }
    .icon--underline { &::before { content: "\f1d5"; } }
    .icon--undo { &::before { content: "\f1d6"; } }
    .icon--unfold { &::before { content: "\f1d7"; } }
    .icon--unlock { &::before { content: "\f1d8"; } }
    .icon--up-small { &::before { content: "\f1d9"; } }
    .icon--up { &::before { content: "\f1da"; } }
    .icon--upload-to-folder { &::before { content: "\f1db"; } }
    .icon--upload { &::before { content: "\f1dc"; } }
    .icon--url { &::before { content: "\f1dd"; } }
    .icon--user { &::before { content: "\f1de"; } }
    .icon--users { &::before { content: "\f1df"; } }
    .icon--vector { &::before { content: "\f1e0"; } }
    .icon--video-linear { &::before { content: "\f1e1"; } }
    .icon--video { &::before { content: "\f1e2"; } }
    .icon--vimeo { &::before { content: "\f1e3"; } }
    .icon--visa { &::before { content: "\f1e4"; } }
    .icon--volume { &::before { content: "\f1e5"; } }
    .icon--whatsapp { &::before { content: "\f1e6"; } }
    .icon--world { &::before { content: "\f1e7"; } }
    .icon--youtube { &::before { content: "\f1e8"; } }
    .icon--zoom-in { &::before { content: "\f1e9"; } }
    .icon--zoom-out { &::before { content: "\f1ea"; } }
}