@if $icon-v1-0 {
    @font-face {
        font-family: 'bobjoll-linear';
        src:  url('../bobjoll/fonts/bobjoll-linear.eot?peouxb');
        src:  url('../bobjoll/fonts/bobjoll-linear.eot?peouxb#iefix') format('embedded-opentype'),
        url('../bobjoll/fonts/bobjoll-linear.ttf?peouxb') format('truetype'),
        url('../bobjoll/fonts/bobjoll-linear.woff?peouxb') format('woff'),
        url('../bobjoll/fonts/bobjoll-linear.svg?peouxb#bobjoll-linear') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    %icon-mg-none {
        margin-left: 0;
        margin-right: 0;
    }
    
    .icon {
        display: block;

        width: $base-icon-width;
        height: $base-icon-height;

        font-size: $base-icon-width;
        line-height: $base-icon-height;

        color: color('icon', 'general');
        fill: color('icon', 'general');
        font-family: 'bobjoll-linear' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @include modifier('inverted') {
            color: color('icon-inverted', 'general');
            fill: color('icon-inverted', 'general');
        } // End Inverted

        $map: map-get($colors, 'social');

        @each $color, $hex in $map {
            @include modifier($color) {
                color: $hex;
                fill: $hex;
            }
        } // End Social 

        @each $size1 in $sizes {
            $map: map-get($icon-sizes, $size1);

            @include modifier($size1) {
                width: map-get($map, 'width');
                height: map-get($map, 'height');

                font-size: map-get($map, 'width');
                line-height: map-get($map, 'height');

                @each $size2 in $sizes {
                    $icon-spacing: ((map-get($base-sizes, $size2) - map-get($map, 'height')) / 2);

                    &.icon--mg-#{$size2} { padding: $icon-spacing; box-sizing: content-box; }
                } // End spacing
            }       
        } // End sizes

        @include modifier('eye')              { &:before { content: "\e900"; } }
        @include modifier('credit-card')      { &:before { content: "\e901"; } }
        @include modifier('menuburger')       { &:before { content: "\e902"; } }
        @include modifier('menudots')         { &:before { content: "\e903"; } }
        @include modifier('american-express') { &:before { content: "\e904"; } }
        @include modifier('master-card')      { &:before { content: "\e905"; } }
        @include modifier('visa')             { &:before { content: "\e906"; } }
        @include modifier('paypal')           { &:before { content: "\e907"; } }
        @include modifier('logout')           { &:before { content: "\e908"; } }
        @include modifier('support')          { &:before { content: "\e909"; } }
        @include modifier('save')             { &:before { content: "\e90a"; } }
        @include modifier('laptop')           { &:before { content: "\e90b"; } }
        @include modifier('tablet')           { &:before { content: "\e90c"; } }
        @include modifier('phone')            { &:before { content: "\e90d"; } }
        @include modifier('url')              { &:before { content: "\e90e"; } }
        @include modifier('globe')            { &:before { content: "\e90f"; } }
        @include modifier('filter')           { &:before { content: "\e910"; } }
        @include modifier('thumb-down')       { &:before { content: "\e911"; } }
        @include modifier('thumb-up')         { &:before { content: "\e912"; } }
        @include modifier('folder')           { &:before { content: "\e913"; } }
        @include modifier('notification')     { &:before { content: "\e914"; } }
        @include modifier('calendar')         { &:before { content: "\e915"; } }
        @include modifier('comment')          { &:before { content: "\e916"; } }
        @include modifier('interogation')     { &:before { content: "\e917"; } }
        @include modifier('exclamation')      { &:before { content: "\e918"; } }
        @include modifier('resize')           { &:before { content: "\e919"; } }
        @include modifier('right')            { &:before { content: "\e91a"; } }
        @include modifier('left')             { &:before { content: "\e91b"; } }
        @include modifier('down')             { &:before { content: "\e91c"; } }
        @include modifier('up')               { &:before { content: "\e91d"; } }
        @include modifier('disabled')         { &:before { content: "\e91e"; } }
        @include modifier('info')             { &:before { content: "\e91f"; } }
        @include modifier('share')            { &:before { content: "\e920"; } }
        @include modifier('marker')           { &:before { content: "\e921"; } }
        @include modifier('inbox')            { &:before { content: "\e922"; } }
        @include modifier('prev')             { &:before { content: "\e923"; } }
        @include modifier('stop')             { &:before { content: "\e924"; } }
        @include modifier('play')             { &:before { content: "\e925"; } }
        @include modifier('tag')              { &:before { content: "\e926"; } }
        @include modifier('unlock')           { &:before { content: "\e927"; } }
        @include modifier('lock')             { &:before { content: "\e928"; } }
        @include modifier('refresh')          { &:before { content: "\e929"; } }
        @include modifier('upload')           { &:before { content: "\e92a"; } }
        @include modifier('download')         { &:before { content: "\e92b"; } }
        @include modifier('time')             { &:before { content: "\e92c"; } }
        @include modifier('video')            { &:before { content: "\e92d"; } }
        @include modifier('file')             { &:before { content: "\e92e"; } }
        @include modifier('mockup')           { &:before { content: "\e92f"; } }
        @include modifier('home')             { &:before { content: "\e930"; } }
        @include modifier('vector')           { &:before { content: "\e931"; } }
        @include modifier('trash')            { &:before { content: "\e932"; } }
        @include modifier('settings')         { &:before { content: "\e933"; } }
        @include modifier('photo')            { &:before { content: "\e934"; } }
        @include modifier('zoom-out')         { &:before { content: "\e935"; } }
        @include modifier('icon')             { &:before { content: "\e936"; } }
        @include modifier('zoom-in')          { &:before { content: "\e937"; } }
        @include modifier('paper-plane')      { &:before { content: "\e938"; } }
        @include modifier('subtitles')        { &:before { content: "\e939"; } }
        @include modifier('cross')            { &:before { content: "\e93a"; } }
        @include modifier('fullscreen')       { &:before { content: "\e93b"; } }
        @include modifier('check')            { &:before { content: "\e93c"; } }
        @include modifier('user')             { &:before { content: "\e93d"; } }
        @include modifier('list')             { &:before { content: "\e93e"; } }
        @include modifier('volume')           { &:before { content: "\e93f"; } }
        @include modifier('star')             { &:before { content: "\e940"; } }
        @include modifier('heart')            { &:before { content: "\e941"; } }
        @include modifier('copyright')        { &:before { content: "\e942"; } }
        @include modifier('search')           { &:before { content: "\e943"; } }
        @include modifier('popular')          { &:before { content: "\e944"; } }
        @include modifier('pencil')           { &:before { content: "\e945"; } }
        @include modifier('bug')              { &:before { content: "\e946"; } }
        @include modifier('receipt')          { &:before { content: "\e947"; } }
        @include modifier('envelope')         { &:before { content: "\e948"; } }
        @include modifier('earnings')         { &:before { content: "\e949"; } }
        @include modifier('cloud')            { &:before { content: "\e94a"; } }
        @include modifier('stats')            { &:before { content: "\e94b"; } }
        @include modifier('minus')            { &:before { content: "\e94c"; } }
        @include modifier('shopping-cart')    { &:before { content: "\e94d"; } }
        @include modifier('plus')             { &:before { content: "\e94e"; } }
        @include modifier('heart-filled')     { &:before { content: "\e94f"; } }
        @include modifier('star-filled')      { &:before { content: "\e950"; } }
        @include modifier('facebook')         { &:before { content: "\e951"; } }
        @include modifier('twitter')          { &:before { content: "\e952"; } }
        @include modifier('instagram')        { &:before { content: "\e953"; } }
        @include modifier('pinterest')        { &:before { content: "\e954"; } }
        @include modifier('google')           { &:before { content: "\e955"; } }
        @include modifier('linkedin')         { &:before { content: "\e956"; } }
        @include modifier('stumbleupon')      { &:before { content: "\e957"; } }
        @include modifier('youtube')          { &:before { content: "\e958"; } }
        @include modifier('behance')          { &:before { content: "\e959"; } }
        @include modifier('dribbble')         { &:before { content: "\e95a"; } }
        @include modifier('next')             { &:before { content: "\e95b"; } }
    }
}