@if $pagination-v1-0 {
	.pagination {
		input::-webkit-inner-spin-button,
		input::-webkit-outer-spin-button {
			@include appearance(textfield); 
		}

		ul {
			@extend %row-flexbox;

			margin: 0 (($extra-small-spacing / 2) * -1);

			& > li {
				padding: 0 ($extra-small-spacing / 2);
			}

			.button {
				padding: 0 $extra-small-spacing;

				text-align: center;

				font-weight: normal;

				@each $size in $sizes {
					&--#{$size} {
						min-width: map-get($base-sizes, $size);
					}
				}
			}
		}

		a {
			padding: ($small-spacing / 2) $small-spacing;

			border-radius: $base-border-radius;

			text-decoration: none;

			&.active {
				border: none;

				box-shadow: none;

				color: color('text', 'general');
				font-weight: bold;

				background: none;
			}
		}

		@include element('context') {
			padding: 0 $base-spacing;

			.pagination__pages {
				padding: 0;
			}
		}

		@include element('button') {
			@include prefixer(display, flex, ms spec);
		}

		@include element('menu') {
			display: table;

			& > * {
				display: table-cell;
				margin: 0;
				padding: 0;
			}

			#{$all-text-inputs} {
				text-align: center;
			}

			@include modifier('sm') {
				.pagination__menu__context {
					padding: 0 $small-spacing;
				}

				.pagination__context span,
				.pagination__input input {
					display: inline-block;
					height: $small-element-height;				
					margin: (($base-element-height - $small-element-height) / 2) 0;					
					font-size: $small-font-size;
					line-height: $small-element-height;
				}

				.pagination__context,
				.pagination__button button,
				.pagination__input input {
					padding: 0 $small-spacing;
				}

				#{$all-text-inputs} {
					max-width: $small-element-height + $small-spacing;
				}

				.icon {
					width: $small-font-size;
					height: $small-font-size;

					font-size: $small-font-size;
					line-height: $small-font-size;
				}
			}

			@include modifier('xs') {
				.pagination__menu__context {
					padding: 0 $small-spacing;
				}

				.pagination__context span,
				.pagination__input input {
					display: inline-block;
					height: $extra-small-element-height;				
					margin: (($base-element-height - $extra-small-element-height) / 2) 0;					
					font-size: $extra-small-font-size;
					line-height: $extra-small-element-height;
				}

				.pagination__context,
				.pagination__button button,
				.pagination__input input {
					padding: 0 $extra-small-spacing;
				}

				#{$all-text-inputs} {
					max-width: $small-element-height + $extra-small-spacing;
				}

				button:nth-of-type(1) {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}

				button:nth-of-type(2) {
					margin-left: $base-border-width * -1;

					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}

				.icon {
					width: $extra-small-font-size;
					height: $extra-small-font-size;

					margin: (($extra-small-element-height - $extra-small-font-size) / 2) 0;

					font-size: $extra-small-font-size;
					line-height: $extra-small-font-size;
				}
			}			
		}
	}
}