.progress-bar {
    &__title {
        font-size: $extra-small-font-size;
        line-height: $extra-small-element-height;
        color: color('hoki', 'gray');
        margin-bottom: $extra-small-spacing;

        &-complete {
            color: color('jungle', 'green');
        }
    }

    &__wrapper {
        background: color('mystic', 'gray');
        border-radius: 3px;
        margin-bottom: $large-spacing;
    }

    &__value {
        background: color('freepik', 'blue');
        border-radius: 3px;
        height: 5px;
        width: 0;
    }

    &[data-complete='true'] {
        .progress-bar__value {
            background: linear-gradient(90deg, color('endeavour', 'blue') 0%, color('campu', 'blue') 100%);
        }
    }
}
