@if $typography-v1-0 {
	.copyright {
		margin: 0;

		font-size: $small-font-size;
	}

	.type {
		display: inline-block;

		margin: 0 0 $small-spacing;
		padding: ($small-spacing / 10) 0;

		border-bottom: $base-border;

		font-size: $small-font-size;
		font-weight: bold;
		text-transform: uppercase;
	}

	.date {
		margin: 0;

		color: rgba(color('text', 'general'), .5);		
	}

	.author {		
		font-size: $small-font-size;
	}

	.read-more {
		position: relative;

		padding: 0 ($small-spacing / 2) 0 0;

		color: color('link', 'general');
		font-size: $small-font-size;
		font-weight: bold;
		text-transform: uppercase;
	}

	hr {
		width: 3em;
		height: $base-border-width;

		margin: 0 0 $base-spacing;

		border: none;

		background-color: color('border', 'general');
	}

	#{$all-headings} {		
		margin: $base-spacing 0;
		padding: 0;

		color: color('heading', 'general');
		font-family: $title-font-family;
		line-height: $title-line-height;

		&.first {
			margin-top: 0;
		}
	}

	#{$big-headings} {		
		line-height:$line-height-125;
	}

	#{$all-headings} {
		&.category {
			padding-bottom: $extra-small-spacing;

			border-bottom: $base-border;
			border-color: color('text', 'general', .15);

			text-align: center;
		}
	}

	.heading-inverted {
		color: color('heading-inverted', 'general');
	}

	h1 { @include font-size($h1-font-size); }
	h2 { @include font-size($h2-font-size); }
	h3 { @include font-size($h3-font-size); }
	h4 { @include font-size($h4-font-size); }
	h5 { @include font-size($h5-font-size); }
	h6 { @include font-size($h6-font-size); }

	%link-inverted {
		color: color('link-inverted', 'general', 1);

		&:hover {
			color: color('link-inverted', 'general', 1);

			svg {
				opacity: .8;
			}
		}

		&.active {
			color: color('link-inverted', 'general', 1);
			font-weight: bold;

			svg {
				opacity: 1;
			}
		}

		svg {
			opacity: .4;
		}
		
		&--hover-underline {
			&:hover,
			&.active {
				text-decoration: underline;
			}
		}
	}

	%link-hover {
		&:hover {
			color: color('link', 'general', 1, 4);

			.icon {
				color: color('link', 'general', 1, 4);
			}
		}

		&.active {
			color: color('link', 'general', 1, 4);
			font-weight: $font-weight-semibold;

			.icon {
				color: color('link', 'general', 1, 4);
			}
		}
	}

	.link {
		@extend %link-hover;

		color: color('link', 'general');

		cursor: pointer;
		font-weight: $font-weight-semibold;
		text-decoration: none;
		
		.icon {
			color: color('link', 'general');
		}
		
		&--text {
			@extend %link-hover;

			color: color('text', 'general', 1, 4);

			.icon {
				color: color('text', 'general', 1, 4);
			}
		}

		&--inverted {
			@extend %link-inverted;
		}
	}

	.link-inverted {
		@extend %link-inverted;
	}

	.text, p {
		margin: 0 0 $base-spacing;
	}

	.text--inverted {
		color: color('text-inverted', 'general');
	}

	blockquote {
		margin: 0;
		padding-left: $base-spacing;
		border-left: 4px solid color('border', 'general');
	}

	figcaption {
		color: color('text', 'general', 1, -20);
		font-size: $small-font-size;
	}

	svg {
		pointer-events: none;
	}

	a {
		@extend .link;
	}
} // End if