@if $walkthrough-v1-0 {

    .walkthrough__notification {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;

        &.active {
            display: block;

            .container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                max-width: inherit;
                margin: 0;
                padding: 0;
            }

            .notification {
                animation: walkthrough-notification 250ms 1100ms cubic-bezier(.25, .1, .25, 1) forwards;
            }

            .notification .notification__content {
                animation: walkthrough-notification-content 250ms 1200ms cubic-bezier(.25, .1, .25, 1) forwards;
                opacity: 0;
            }

            &::before {
                animation: walkthrough-overlay 600ms 500ms cubic-bezier(.25, .1, .25, 1) forwards;
                position: absolute;
                width: 500vw;
                height: 500vw;
                border-radius: 500vw;
                content: '';
            }
        }

        &--content {
            position: absolute;
            margin: 50px 10px 0;
            pointer-events: all;
            max-width: 280px;
            padding: $large-spacing;
            border-radius: $base-border-radius;
            background-color: color('4', 'blue');

            &::before {
                $triangle-size: 12px;
                position: absolute;
                bottom: 100%;
                right: ($base-triangle-size) + (($small-element-height - $triangle-size) / 2);
                content: '';

                @include triangle($triangle-size, color('4', 'blue'), up);
            }

            color: color('text-inverted', 'general');
            font-size: $small-font-size;

            .notification__content {
                padding: 0;
            }

            .notification__close {
                box-shadow: none !important;

                .icon {
                    color: color('icon-inverted', 'general');
                }
            }

            .link:last-child,
            a:last-child {
                color: color('link-inverted', 'general');
                font-weight: bold;

                .icon {
                    transition: transform 150ms linear;
                    color: color('icon-inverted', 'general');
                }

                @extend %row-flexbox;

                @include prefixer(align-items, center, ms spec);

                &:hover {

                    .icon {

                        @include transform(translateX(10px));
                    }
                }
            }

            p {
                margin-bottom: $small-spacing;
            }
        }
    }

    @include breakpoint('sm', 'min') {

        @keyframes walkthrough-overlay {

            from {
                width: 500vw;
                height: 500vw;
                box-shadow: 0 0 0 200vw color('overlay', 'background', .2);
            }

            to {
                width: 400px;
                height: 400px;
                box-shadow: 0 0 0 200vw color('overlay', 'background', .8);
            }
        }
    }

    @include breakpoint('sm') {

        @keyframes walkthrough-overlay {

            from {
                width: 500vw;
                height: 500vw;
                box-shadow: 0 0 0 200vw color('overlay', 'background', .2);
            }

            to {
                width: 200px;
                height: 200px;
                box-shadow: 0 0 0 200vw color('overlay', 'background', .8);
            }
        }
    }

    @keyframes walkthrough-notification {

        0% {
            opacity: 0;
            transform: scale(.6);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes walkthrough-notification-content {

        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}