<div class="tooltip__content font-sm">
    <button class="notification__close button button--sm button--icon">
        <i class="icon icon--lg icon--mg-sm icon--cross"></i>
    </button>
    {{{html}}}
</div>

