.password {
    position: relative;

    @include modifier('show') {
        .password__toggle i.active { display: block; }
        .password__toggle i.inactive { display: none; }
    }

    @include element('toggle') {
        position: absolute;
        top: 50%;
        right: $small-spacing;

        transform: translateY(-50%);

        background-color: color('light', 'background');

        cursor: pointer;

        i.active {
            display: none;
        }
    }

    input {
        width: 100%;
    }
}