@font-face {
	font-family: "bobjoll";
	src: url("bobjoll.woff2?294d0aa9c6580ef6913537c4532fb659") format("woff2"),
url("bobjoll.woff?294d0aa9c6580ef6913537c4532fb659") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: bobjoll !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon--addcollection:before {
	content: "\f101";
}
.icon--advanced:before {
	content: "\f102";
}
.icon--aligncenter:before {
	content: "\f103";
}
.icon--alignleft:before {
	content: "\f104";
}
.icon--alignright:before {
	content: "\f105";
}
.icon--amex:before {
	content: "\f106";
}
.icon--archive:before {
	content: "\f107";
}
.icon--backwards:before {
	content: "\f108";
}
.icon--beginner:before {
	content: "\f109";
}
.icon--behance:before {
	content: "\f10a";
}
.icon--bold:before {
	content: "\f10b";
}
.icon--book:before {
	content: "\f10c";
}
.icon--bug:before {
	content: "\f10d";
}
.icon--calendar:before {
	content: "\f10e";
}
.icon--check:before {
	content: "\f10f";
}
.icon--checkbox:before {
	content: "\f110";
}
.icon--clip:before {
	content: "\f111";
}
.icon--cloud:before {
	content: "\f112";
}
.icon--collection:before {
	content: "\f113";
}
.icon--comment:before {
	content: "\f114";
}
.icon--cookie:before {
	content: "\f115";
}
.icon--copyright:before {
	content: "\f116";
}
.icon--coupon:before {
	content: "\f117";
}
.icon--credit-card:before {
	content: "\f118";
}
.icon--cross-small:before {
	content: "\f119";
}
.icon--cross:before {
	content: "\f11a";
}
.icon--crown:before {
	content: "\f11b";
}
.icon--disabled:before {
	content: "\f11c";
}
.icon--dollar:before {
	content: "\f11d";
}
.icon--down-small:before {
	content: "\f11e";
}
.icon--down:before {
	content: "\f11f";
}
.icon--download:before {
	content: "\f120";
}
.icon--dribbble:before {
	content: "\f121";
}
.icon--duplicate:before {
	content: "\f122";
}
.icon--earnings:before {
	content: "\f123";
}
.icon--edit:before {
	content: "\f124";
}
.icon--envelope:before {
	content: "\f125";
}
.icon--exclamation:before {
	content: "\f126";
}
.icon--eye-line-through:before {
	content: "\f127";
}
.icon--eye:before {
	content: "\f128";
}
.icon--facebook:before {
	content: "\f129";
}
.icon--file:before {
	content: "\f12a";
}
.icon--filter:before {
	content: "\f12b";
}
.icon--flame:before {
	content: "\f12c";
}
.icon--flip:before {
	content: "\f12d";
}
.icon--folder:before {
	content: "\f12e";
}
.icon--following:before {
	content: "\f12f";
}
.icon--font:before {
	content: "\f130";
}
.icon--forwards:before {
	content: "\f131";
}
.icon--fullscreen:before {
	content: "\f132";
}
.icon--globe:before {
	content: "\f133";
}
.icon--google:before {
	content: "\f134";
}
.icon--heart-filled:before {
	content: "\f135";
}
.icon--heart:before {
	content: "\f136";
}
.icon--inbox:before {
	content: "\f137";
}
.icon--info:before {
	content: "\f138";
}
.icon--instagram:before {
	content: "\f139";
}
.icon--intermediate:before {
	content: "\f13a";
}
.icon--interogation:before {
	content: "\f13b";
}
.icon--italic:before {
	content: "\f13c";
}
.icon--justify:before {
	content: "\f13d";
}
.icon--laptop:before {
	content: "\f13e";
}
.icon--layers:before {
	content: "\f13f";
}
.icon--left-small:before {
	content: "\f140";
}
.icon--left:before {
	content: "\f141";
}
.icon--linkedin:before {
	content: "\f142";
}
.icon--list:before {
	content: "\f143";
}
.icon--lock:before {
	content: "\f144";
}
.icon--logout:before {
	content: "\f145";
}
.icon--marker:before {
	content: "\f146";
}
.icon--master-card:before {
	content: "\f147";
}
.icon--menuburger:before {
	content: "\f148";
}
.icon--menudots-vertical:before {
	content: "\f149";
}
.icon--menudots:before {
	content: "\f14a";
}
.icon--minus-small:before {
	content: "\f14b";
}
.icon--minus:before {
	content: "\f14c";
}
.icon--next-small:before {
	content: "\f14d";
}
.icon--next:before {
	content: "\f14e";
}
.icon--notification:before {
	content: "\f14f";
}
.icon--opacity:before {
	content: "\f150";
}
.icon--palette:before {
	content: "\f151";
}
.icon--paper-plane:before {
	content: "\f152";
}
.icon--paper-plane2:before {
	content: "\f153";
}
.icon--pause:before {
	content: "\f154";
}
.icon--paypal:before {
	content: "\f155";
}
.icon--pencil:before {
	content: "\f156";
}
.icon--phone:before {
	content: "\f157";
}
.icon--photo:before {
	content: "\f158";
}
.icon--pinterest:before {
	content: "\f159";
}
.icon--play:before {
	content: "\f15a";
}
.icon--plus-small:before {
	content: "\f15b";
}
.icon--plus:before {
	content: "\f15c";
}
.icon--prev-small:before {
	content: "\f15d";
}
.icon--prev:before {
	content: "\f15e";
}
.icon--projects:before {
	content: "\f15f";
}
.icon--psd:before {
	content: "\f160";
}
.icon--quote:before {
	content: "\f161";
}
.icon--receipt:before {
	content: "\f162";
}
.icon--refresh:before {
	content: "\f163";
}
.icon--removecollection:before {
	content: "\f164";
}
.icon--right-small:before {
	content: "\f165";
}
.icon--right:before {
	content: "\f166";
}
.icon--rotate:before {
	content: "\f167";
}
.icon--save:before {
	content: "\f168";
}
.icon--search:before {
	content: "\f169";
}
.icon--security:before {
	content: "\f16a";
}
.icon--settings:before {
	content: "\f16b";
}
.icon--share:before {
	content: "\f16c";
}
.icon--shopping-cart:before {
	content: "\f16d";
}
.icon--shuffle:before {
	content: "\f16e";
}
.icon--sortcollection:before {
	content: "\f16f";
}
.icon--star-filled:before {
	content: "\f170";
}
.icon--star:before {
	content: "\f171";
}
.icon--stats:before {
	content: "\f172";
}
.icon--stop:before {
	content: "\f173";
}
.icon--stumbleupon:before {
	content: "\f174";
}
.icon--subtitles:before {
	content: "\f175";
}
.icon--support:before {
	content: "\f176";
}
.icon--tablet:before {
	content: "\f177";
}
.icon--tag:before {
	content: "\f178";
}
.icon--thumb-down:before {
	content: "\f179";
}
.icon--thumb-up:before {
	content: "\f17a";
}
.icon--time:before {
	content: "\f17b";
}
.icon--trash:before {
	content: "\f17c";
}
.icon--twitter:before {
	content: "\f17d";
}
.icon--underline:before {
	content: "\f17e";
}
.icon--undo:before {
	content: "\f17f";
}
.icon--unlock:before {
	content: "\f180";
}
.icon--up-small:before {
	content: "\f181";
}
.icon--up:before {
	content: "\f182";
}
.icon--upload:before {
	content: "\f183";
}
.icon--url:before {
	content: "\f184";
}
.icon--user:before {
	content: "\f185";
}
.icon--vector:before {
	content: "\f186";
}
.icon--video:before {
	content: "\f187";
}
.icon--visa:before {
	content: "\f188";
}
.icon--volume:before {
	content: "\f189";
}
.icon--youtube:before {
	content: "\f18a";
}
.icon--zoom-in:before {
	content: "\f18b";
}
.icon--zoom-out:before {
	content: "\f18c";
}
