<div id="feedback" class="feedback feedback--fixed">
    <div class="feedback__box {{class}}">
        <button class="feedback__trigger button button--xs button--flat button--icon button--icon--only button--state block">
            <i class="icon icon--sm icon--mg-xs icon--plus-small state--inactive"></i>
            <i class="icon icon--sm icon--mg-xs icon--cross-small state--active"></i>
        </button>
    
       <div class="feedback__wrapper"></div>
    </div>
</div>