<div class="tag-field__items">
    <div class="tag-field__content"><span></span></div>

    {% for tag in tags %}
        {% include './element.html.twig' with tag %}
    {% endfor %}

    <input class="tag-field__input" type="text">
</div>
