@if $gr-auth-v1-0 {
    .gr-auth {
        @include modifier('premium') {
            .gr-auth__premium {
                display: inherit;
            }
        }

        @include modifier('essential') {
            .gr-auth__essential {
                display: inherit;
            }
        }

        @include modifier('logged') {
            .gr-auth__disconnected {
                display: none !important;
            }

            .gr-auth__connected {
                display: inherit !important;
            }
        }

        @include element('disconnected') {
            display: inherit !important;
        }

        @include element('connected') {
            display: none !important;
        }

        @include element('premium') {
            display: none;
        }

        @include element('essential') {
            display: none;
        }

        button,
        a {
            font-weight: 400;
        }
    }
}
