<div 
	id="{{id}}" 
	class="notification notification--alert{{#if class}} {{class}}{{/if}}" 
    {{#if recurrent}} data-recurrent="true" {{/if}}>

	{{#if fixed}}
	<button class="notification__close button button--sm button--icon button--link-inverted">
		<i class="icon--cross"></i>
	</button>
	{{/if}} 

	<div class="notification__content">
		<div class="notification__state">
			<i class="icon icon--sm"></i>
		</div>

		<div class="notification__message">
			{{{html}}}
		</div>		
	</div>
</div>