<div 
	id="{{id}}" 
	class="notification{{#if class}} {{class}}{{/if}}" 
    {{#if recurrent}} data-recurrent="true" {{/if}}>

    {{#if fixed}}
	<button class="notification__close button button--md button--icon button--icon--only button--inverted">
		<i class="icon icon--md icon--mg-md icon--cross"></i>
	</button>
    {{/if}}

	<div class="notification__content">
		{{{html}}}

		{{#if recurrent}}
			@require('element-disable.html.hbs')
		{{/if}}
	</div>

	{{#if target}}<div class="notification__triangle"></div>{{/if}}
</div>