@keyframes slide-top-in {
	0% {
		top: -100%;
	} 100% {
		top: 0%;
	}
}

@keyframes slide-top-out {
	0% {
		top: 0%;
	} 100% {
		top: -100%;
	}
}

@keyframes slide-bottom-in {
	0% {
		bottom: -100%;
	} 100% {
		bottom: 0%;
	}
}

@keyframes slide-bottom-out {
	0% {
		bottom: 0%;
	} 100% {
		bottom: -100%;
	}
}