// Gray
$gray-shade-9: #121212 !default;
$gray-shade-8: #424242 !default;
$gray-shade-7: #777777 !default;
$gray-shade-6: #9C9C9C !default;
$gray-shade-5: #B1B1B1 !default;
$gray-shade-4: #C8C8C8 !default;
$gray-shade-3: #D8D8D8 !default;
$gray-shade-2: #E5E5E5 !default;
$gray-shade-1: #F7F7F7 !default;

// Gray named
$gray-900: #121212 !default;
$gray-800: #424242 !default;
$gray-700: #5B5B5B !default;
$gray-600: #777777 !default;
$gray-500: #9C9C9C !default;
$gray-400: #B1B1B1 !default;
$gray-300: #C8C8C8 !default;
$gray-200: #D8D8D8 !default;
$gray-100: #E5E5E5 !default;
$gray-75:  #F0F0F0 !default;
$gray-50:  #F7F7F7 !default;

// Dark blue
$dark-blue-shade-9: #0A152F !default;
$dark-blue-shade-8: #142A5E !default;
$dark-blue-shade-7: #1F408C !default;

// Dark blue named
$dark-blue-900:		#0A152F !default;
$dark-blue-800:		#142A5E !default;
$dark-blue-700: 	#1F408C !default;

// Purple
$purple-shade-9: #22244E !default;
$purple-shade-8: #353777 !default;
$purple-shade-7: #404492 !default;
$purple-shade-6: #4C50AE !default;
$purple-shade-5: #6569BD !default;
$purple-shade-4: #8F91CF !default;
$purple-shade-3: #B5B6E2 !default;
$purple-shade-2: #D5D6F2 !default;
$purple-shade-1: #F0F1FF !default;

// Purple named
$purple-900: 	#22244E !default;
$purple-800: 	#353777 !default;
$purple-700: 	#404492 !default;
$purple-600: 	#4C50AE !default;
$purple-500:	#6569BD !default;
$purple-400: 	#8F91CF !default;
$purple-300: 	#B5B6E2 !default;
$purple-200: 	#D5D6F2 !default;
$purple-100: 	#F0F1FF !default;

// Blue
$blue-shade-9: #0A152F !default;
$blue-shade-8: #142A5E !default;
$blue-shade-7: #1F408C !default;
$blue-shade-6: #2955BB !default;
$blue-shade-5: #336AEA !default;
$blue-shade-4: #648EEF !default;
$blue-shade-3: #8FADF4 !default;
$blue-shade-2: #B8CBF8 !default;
$blue-shade-1: #E1E9FC !default;

// Blue named
$blue-900: 		#0A152F !default;
$blue-800: 		#142A5E !default;
$blue-700: 		#1F408C !default;
$blue-600: 		#2955BB !default;
$blue-500: 		#336AEA !default;
$blue-400: 		#648EEF !default;
$blue-300: 		#8FADF4 !default;
$blue-200: 		#B8CBF8 !default;
$blue-100: 		#E1E9FC !default;

// Green
$green-shade-9: #1E541D !default;
$green-shade-8: #286D34 !default;
$green-shade-7: #32864C !default;
$green-shade-6: #3B9E62 !default;
$green-shade-5: #44B678  !default;
$green-shade-4: #52D999 !default;
$green-shade-3: #7BE2B1 !default;
$green-shade-2: #A0EAC7 !default;
$green-shade-1: #CBF3E0 !default;

// Green named
$green-900: 	#1E541D !default;
$green-800: 	#286D34 !default;
$green-700: 	#32864C !default;
$green-600: 	#3B9E62 !default;
$green-500:		#44B678 !default;
$green-400: 	#52D999 !default;
$green-300: 	#7BE2B1 !default;
$green-200: 	#A0EAC7 !default;
$green-100: 	#CBF3E0 !default;

// Yellow
$yellow-shade-9: #BC5912 !default;
$yellow-shade-8: #DE6815 !default;
$yellow-shade-7: #EA7E11 !default;
$yellow-shade-6: #F4980A !default;
$yellow-shade-5: #FEB602 !default;
$yellow-shade-4: #FEC73F !default;
$yellow-shade-3: #FFD774 !default;
$yellow-shade-2: #FFE6A7 !default;
$yellow-shade-1: #FFF4D9 !default;

// Yellow named
$yellow-900: 	#BC5912 !default;
$yellow-800: 	#DE6815 !default;
$yellow-700: 	#EA7E11 !default;
$yellow-600: 	#F4980A !default;
$yellow-500:	#FEB602 !default;
$yellow-400:	#FEC73F !default;
$yellow-300: 	#FFD774 !default;
$yellow-200:	#FFE6A7 !default;
$yellow-100: 	#FFF4D9 !default;

// Red
$red-shade-9: 	#9A2B17 !default;
$red-shade-8: 	#BC371C !default;
$red-shade-7: 	#D3482B !default;
$red-shade-6: 	#EB644C !default;
$red-shade-5: 	#FF7D6A !default;
$red-shade-4: 	#FF9E90 !default;
$red-shade-3: 	#FFBEB4 !default;
$red-shade-2: 	#FFD8D2 !default;
$red-shade-1: 	#FFECE9 !default;

// Red named
$red-900: 		#9A2B17 !default;
$red-800: 		#BC371C !default;
$red-700:	 	#D3482B !default;
$red-600: 		#EB644C !default;
$red-500:		#FF7D6A !default;
$red-400: 		#FF9E90 !default;
$red-300: 		#FFBEB4 !default;
$red-200: 		#FFD8D2 !default;
$red-100: 		#FFECE9 !default;

$color-main: #336AEA !default;
$color-dark: #142A5E !default;
$color-border: $gray-shade-2 !default;
$color-secondary: $gray-shade-1 !default;
$color-light: #fff !default;
$color-heading: $gray-shade-8 !default;
$color-text: $gray-shade-7 !default;
$color-premium: #F4980A !default;

$social-behance: #1769ff !default;
$social-dribbble: #ea4c89 !default;
$social-facebook: #1877F2 !default;
$social-google: #dd4b39 !default;
$social-instagram: #c32aa3 !default;
$social-pinterest: #cb2027 !default;
$social-stumbleupon: #f74425 !default;
$social-twitter: #000000 !default;
$social-vimeo: #aad450 !default;
$social-youtube: #bb0000 !default;
$social-whatsapp: #25d366 !default;
$social-telegram: #0088cc !default;

$state-green: $green-500 !default;
$state-blue: $blue-500 !default;
$state-gray: $gray-500 !default;
$state-red: $red-500 !default;
$state-yellow: $yellow-500 !default;
$state-purple: $purple-500 !default;

$global-colors: (
	background:(
		'badge': $color-dark,
		'badge-inverted': $color-light,
		'body': $color-light,
		'body-inverted': $color-dark,
		'dropdown': $color-light,
		'footer': $color-secondary,
		'header': $color-secondary,
		'input': $color-light,
		'input-inverted': $color-dark,
		'switch': $gray-shade-3,
		'modal': $color-light,
		'notification': $color-light,
		'overlay': ($dark-blue-shade-9, .75, 0),
		'popover': $color-light,
		'secondary': $color-secondary,
		'light': $color-light,
		'table': $color-light,
		'table-head': ($color-secondary, 1, +2),
		'table-odd': ($color-secondary, 1, -2),
		'tabs': $color-light,
		'tabs-active': $color-secondary,
		'tags': $color-light,
		'tags-inverted': $gray-shade-1,
		'tooltip': $color-light
	),
	social: (
		'behance': $social-behance,
		'dribbble': $social-dribbble,
		'facebook': $social-facebook,
		'google': $social-google,
		'instagram': $social-instagram,
		'pinterest': $social-pinterest,
		'stumbleupon': $social-stumbleupon,
		'telegram': $social-telegram,
		'twitter': $social-twitter,
		'vimeo': $social-vimeo,
		'whatsapp': $social-whatsapp,
		'youtube': $social-youtube,
	),
	state: (
		'green': $state-green,
		'blue': $state-blue,
		'gray': $state-gray,
		'red': $state-red,
		'yellow': $state-yellow,
		'purple': $state-purple
	),
	state-text: (
		'green': $color-light,
		'blue': $color-light,
		'gray': $color-light,
		'red': $color-light,
		'yellow': $gray-900,
		'purple': $color-light
	),
	general: (
		'border': $color-border,
		'border-inverted': $color-light,
		'form-border': $gray-shade-4,
		'button': $color-main,
		'button-inverted': $color-light,
		'heading': $color-heading,
		'heading-inverted': $color-light,
		'icon': $color-text,
		'icon-inverted': $color-light,
		'link': $color-main,
		'link-inverted': $color-light,
		'shadow': $color-dark,
		'tabs': $color-text,
		'tabs-border': ($color-secondary, 1, 10),
		'tabs-active': ($color-main, 1, 1),
		'tabs-triangle': $color-text,
		'tabs-triangle-active': $color-border,
		'accordion': $gray-shade-8,
		'tags': $color-text,
		'tags-inverted': $color-light,
		'text': $color-text,
		'text-inverted': $color-light,
		'text-secondary': ($color-text, 1, -2),
	),
	feedback: (
		wrapper: $color-light,
		secondary: $color-main,
		text: $color-main,
	),
	buttons: (
		'default': $color-main,
		'green': $state-green,
		'blue': $state-blue,
		'gray': $state-gray,
		'red': $state-red,
		'yellow': $state-yellow,
		'purple': $state-purple,
		'inverted': $color-light,
	),
	buttons-hover: (
		'default': ($color-main, 1, 5),
		'green': $green-shade-5,
		'blue': $blue-shade-5,
		'gray': $gray-shade-7,
		'red': $red-shade-5,
		'yellow': $yellow-shade-6,
		'purple': $purple-shade-5,
		'inverted': $gray-shade-2,
	),
	buttons-active: (
		'default': ($color-main, 1, 10),
		'green': $green-shade-6,
		'blue': $blue-shade-6,
		'gray': $gray-shade-8,
		'red': $red-shade-6,
		'yellow': $yellow-shade-6,
		'purple': $purple-shade-6,
		'inverted': $gray-shade-2,
	),
	buttons-text: (
		'default': $color-light,
		'default-outline': $color-main,
		'green': $color-light,
		'green-outline': $state-green,
		'blue': $color-light,
		'blue-outline': $state-blue,
		'gray': $color-light,
		'gray-outline': $state-gray,
		'red': $color-light,
		'red-outline': $state-red,
		'yellow': $color-light,
		'yellow-outline': $state-yellow,
		'purple': $color-light,
		'purple-outline': $state-purple,
		'inverted': $color-text,
		'inverted-outline': $color-light,
	),
	dropdown: (
		bg: transparent,
		text: $color-text,
		bg-hover: $color-main,
		text-hover: $color-light,
	),
	'gray': (
		'9': $gray-shade-9,
		'8': $gray-shade-8,
		'7': $gray-shade-7,
		'6': $gray-shade-6,
		'5': $gray-shade-5,
		'4': $gray-shade-4,
		'3': $gray-shade-3,
		'2': $gray-shade-2,
		'1': $gray-shade-1,
		'900': $gray-900,
		'800': $gray-800,
		'700': $gray-700,
		'600': $gray-600,
		'500': $gray-500,
		'400': $gray-400,
		'300': $gray-300,
		'200': $gray-200,
		'100': $gray-100,
		'75': $gray-75,
		'50': $gray-50,
	),
	'dark-blue': (
		'9': $dark-blue-shade-9,
		'8': $dark-blue-shade-8,
		'7': $dark-blue-shade-7,
		'900':$dark-blue-900,
		'800': $dark-blue-800,
		'700': $dark-blue-700,
	),
	'purple': (
		'9': $purple-shade-9,
		'8': $purple-shade-8,
		'7': $purple-shade-7,
		'6': $purple-shade-6,
		'5': $purple-shade-5,
		'4': $purple-shade-4,
		'3': $purple-shade-3,
		'2': $purple-shade-2,
		'1': $purple-shade-1,
		'900': $purple-900,
		'800': $purple-800,
		'700': $purple-700,
		'600': $purple-600,
		'500': $purple-500,
		'400': $purple-400,
		'300': $purple-300,
		'200': $purple-200,
		'100': $purple-100,
	),
	'blue': (
		'9': $blue-shade-9,
		'8': $blue-shade-8,
		'7': $blue-shade-7,
		'6': $blue-shade-6,
		'5': $blue-shade-5,
		'4': $blue-shade-4,
		'3': $blue-shade-3,
		'2': $blue-shade-2,
		'1': $blue-shade-1,
		'900': $blue-900,
		'800': $blue-800,
		'700': $blue-700,
		'600': $blue-600,
		'500': $blue-500,
		'400': $blue-400,
		'300': $blue-300,
		'200': $blue-200,
		'100': $blue-100,
	),
	'green': (
		'9': $green-shade-9,
		'8': $green-shade-8,
		'7': $green-shade-7,
		'6': $green-shade-6,
		'5': $green-shade-5,
		'4': $green-shade-4,
		'3': $green-shade-3,
		'2': $green-shade-2,
		'1': $green-shade-1,
		'900': $green-900,
		'800': $green-800,
		'700': $green-700,
		'600': $green-600,
		'500': $green-500,
		'400': $green-400,
		'300': $green-300,
		'200': $green-200,
		'100': $green-100,
	),
	'yellow': (
		'9': $yellow-shade-9,
		'8': $yellow-shade-8,
		'7': $yellow-shade-7,
		'6': $yellow-shade-6,
		'5': $yellow-shade-5,
		'4': $yellow-shade-4,
		'3': $yellow-shade-3,
		'2': $yellow-shade-2,
		'1': $yellow-shade-1,
		'900': $yellow-900,
		'800': $yellow-800,
		'700': $yellow-700,
		'600': $yellow-600,
		'500': $yellow-500,
		'400': $yellow-400,
		'300': $yellow-300,
		'200': $yellow-200,
		'100': $yellow-100,
	),
	'red': (
		'9': $red-shade-9,
		'8': $red-shade-8,
		'7': $red-shade-7,
		'6': $red-shade-6,
		'5': $red-shade-5,
		'4': $red-shade-4,
		'3': $red-shade-3,
		'2': $red-shade-2,
		'1': $red-shade-1,
		'900': $red-900,
		'800': $red-800,
		'700': $red-700,
		'600': $red-600,
		'500': $red-500,
		'400': $red-400,
		'300': $red-300,
		'200': $red-200,
		'100': $red-100,
	),
);

// Colors
$colors-keys: ( 'general', 'background', 'state' ) !default;;
$colors: $global-colors !default;