$global-colors: ( 
	background:(
		'badge': $color-dark,
		'badge-inverted': $color-light,
		'body': $color-light,
		'body-inverted': $color-dark,
		'dropdown': $color-light,
		'footer': $color-secondary,
		'header': $color-secondary,
		'input': $color-light,
		'input-inverted': $color-dark,
		'modal': $color-light,
		'notification': $color-light,
		'overlay': ($color-dark, .75, 0),		
		'popover': $color-light,
		'secondary': $color-secondary,
		'light': $color-light,
		'table': $color-light,
		'table-head': ($color-secondary, 1, +2),
		'table-odd': ($color-secondary, 1, -2),
		'tabs': $color-secondary,	
		'tabs-active': $color-light,
		'tags': $color-light, 
		'tags-inverted': $color-dark, 
		'tooltip': $color-light
	),
	social: (
		'behance': $social-behance, 
		'dribbble': $social-dribbble,
		'facebook': $social-facebook,
		'google': $social-google,
		'instagram': $social-instagram,
		'pinterest': $social-pinterest,
		'stumbleupon': $social-stumbleupon,
		'twitter': $social-twitter,
		'vimeo': $social-vimeo,
		'youtube': $social-youtube
	),
	state: (
		'green': $state-green,
		'blue': $state-blue,
		'gray': $state-gray,
		'red': $state-red,
		'yellow': $state-yellow,
		'purple': $state-purple
	),
	state-text: (
		'green': $color-light,
		'blue': $color-light,
		'gray': $color-light,
		'red': $color-light,
		'yellow': $color-light,
		'purple': $color-light
	),
	general: (
		'border': $color-border,
		'border-inverted': $color-light,
		'button': $color-main,
		'button-inverted': $color-light,
		'heading': $color-heading,
		'heading-inverted': $color-light,
		'icon': $color-text,
		'icon-inverted': $color-light,
		'link': $color-main,
		'link-inverted': $color-light,
		'shadow': $color-dark,
		'tabs': $color-text,
		'tabs-border': ($color-secondary, 1, 10),
		'tabs-active': ($color-main, 1, 1),
		'tabs-triangle': $color-text,
		'tabs-triangle-active': $color-border, 
		'tags': $color-text,
		'tags-inverted': $color-light,
		'text': $color-text,
		'text-inverted': $color-light,
		'text-secondary': ($color-text, 1, -2),
	),
	feedback: (
		wrapper: $color-light,
		secondary: $color-main,
		text: $color-main,
	),
	buttons: (
		'default': $color-main,
		'green': $state-green,
		'blue': $state-blue,
		'gray': $state-gray,
		'red': $state-red,
		'yellow': $state-yellow,
		'purple': $state-purple,
		'inverted': $color-light,
	), 
	buttons-text: (
		'default': $color-light,
		'default-outline': $color-main,
		'green': $color-light,
		'green-outline': $state-green,
		'blue': $color-light,
		'blue-outline': $state-blue,
		'gray': $color-light,
		'gray-outline': $state-gray,
		'red': $color-light,
		'red-outline': $state-red,
		'yellow': $color-light,
		'yellow-outline': $state-yellow,
		'purple': $color-light,
		'purple-outline': $state-purple,
		'inverted': $color-text,
		'inverted-outline': $color-light,
	)
);

// Colors
// $colors-keys: ( 'social', 'state' ) !default;
$colors-keys: ( 'general', 'background', 'state' ) !default;;
$colors: $global-colors !default;