$color-main: #1FB6FF !default;
$color-dark: #222 !default;
$color-border: #e8e8e8 !default;
$color-secondary: #f8f8f8 !default;
$color-light: #fff !default;
$color-heading: #273444 !default;
$color-text: #3C4858 !default;

$social-behance: #1769ff !default;
$social-dribbble: #ea4c89 !default;
$social-facebook: #3b5998 !default;
$social-google: #dd4b39 !default;
$social-instagram: #e95950 !default;
$social-pinterest: #cb2027 !default;
$social-stumbleupon: #f74425 !default;
$social-twitter: #55acee !default;
$social-vimeo: #aad450 !default;
$social-youtube: #bb0000 !default;

$state-green: #13CE66 !default;
$state-blue: $color-main !default;
$state-gray: #7F7F7F !default;
$state-red: #FF4949 !default;
$state-yellow: #FFC82C !default;

$global-colors: ( 
	background:(
		'badge': $color-dark,
		'badge-inverted': $color-light,
		'body': $color-light,
		'dropdown': $color-light,
		'footer': $color-secondary,
		'header': $color-secondary,
		'input': $color-light,
		'input-inverted': $color-dark,
		'modal': $color-light,
		'notification': $color-light,
		'overlay': ($color-dark, .75, 0),		
		'popover': $color-light,
		'secondary': $color-secondary,
		'light': $color-light,
		'table': $color-light,
		'table-head': ($color-secondary, 1, +2),
		'table-odd': ($color-secondary, 1, -2),
		'tabs': $color-secondary,	
		'tabs-active': $color-secondary,
		'tags': $color-light, 
		'tags-inverted': $color-dark, 
		'tooltip': $color-light
	),
	social: (
		'behance': $social-behance, 
		'dribbble': $social-dribbble,
		'facebook': $social-facebook,
		'google': $social-google,
		'instagram': $social-instagram,
		'pinterest': $social-pinterest,
		'stumbleupon': $social-stumbleupon,
		'twitter': $social-twitter,
		'vimeo': $social-vimeo,
		'youtube': $social-youtube
	),
	state: (
		'green': $state-green,
		'blue': $state-blue,
		'gray': $state-gray,
		'red': $state-red,
		'yellow': $state-yellow
	),
	state-text: (
		'green': $color-light,
		'blue': $color-light,
		'gray': $color-light,
		'red': $color-light,
		'yellow': $color-dark
	),
	general: (		
		'border': $color-border,
		'border-inverted': $color-light,
		'button': $color-main,
		'button-inverted': $color-light,
		'heading': $color-heading,
		'heading-inverted': $color-light,
		'icon': $color-text,
		'icon-inverted': $color-light,
		'link': $color-main,
		'link-inverted': $color-light,
		'shadow': ($color-dark, .75, 0),
		'tabs': $color-text,
		'tabs-border': $color-border,
		'tabs-active': ($color-main, 1, 1),
		'tabs-triangle': $color-text,
		'tabs-triangle-active': $color-border, 
		'tags': $color-light,
		'tags-inverted': ($color-main, 1, 1),
		'text': $color-text,
		'text-inverted': $color-light,
		'text-secondary': ($color-text, 1, -2),
	),
	buttons: (
		'default': $color-main,
		'green': $state-green,
		'blue': $state-blue,
		'gray': $state-gray,
		'red': $state-red,
		'yellow': $state-yellow,
		'inverted': $color-light,
	), 
	buttons-text: (
		'default': $color-light,
		'default-outline': $color-main,
		'green': $color-light,
		'green-outline': $state-green,
		'blue': $color-light,
		'blue-outline': $state-blue,
		'gray': $color-light,
		'gray-outline': $state-gray,
		'red': $color-light,
		'red-outline': $state-red,
		'yellow': $color-text,
		'yellow-outline': $state-yellow,
		'inverted': $color-text,
		'inverted-outline': $color-light,
	)
);

// Colors
$colors-keys: ( 'social', 'state' ) !default;
$colors: $global-colors !default;