// Aspect ratio
$aspect-ratios: (
	'100': (100, 100),
	'75': (100, 75),
	'16-9': (16, 9),
	'4-3': (4, 3)
) !default;

// Avatar
$avatar-width-xs: 36px !default;
$avatar-height-xs: $avatar-width-xs !default;
$avatar-width-sm: 44px !default;
$avatar-height-sm: $avatar-width-sm !default;
$avatar-width-md: 64px !default;
$avatar-height-md: $avatar-width-md !default;
$avatar-width-lg: 128px !default;
$avatar-height-lg: $avatar-width-lg !default;
$avatar-width-xl: 164px !default;
$avatar-height-xl: $avatar-width-xl !default;

// Sizes
$sizes: 'xs', 'sm', 'md', 'lg', 'xl' !default;

// Base dimensions
$extra-large-element-height: 64px !default;
$large-element-height: 54px !default;
$base-element-height: 44px !default;
$small-element-height: 34px !default;
$extra-small-element-height: 24px !default;
$base-sizes: (
	'xs': $extra-small-element-height,
	'sm': $small-element-height,
	'md': $base-element-height,
	'lg': $large-element-height,
	'xl': $extra-large-element-height 
) !default;

// Grid Settings
$grid-columns: 12 !default;
$grid-columns-spacing: 6px !default;

// Shadow
$base-box-shadow: 0 0 60px color('shadow', 'general', .25) !default;
$inner-box-shadow: inset $base-box-shadow !default;

// Buttons
$extra-large-button-height: $extra-large-element-height !default;
$large-button-height: $large-element-height !default;
$base-button-height: $base-element-height !default;
$small-button-height: $small-element-height !default;
$extra-small-button-height: $extra-small-element-height !default;
$button-sizes: (
	'xs': $extra-small-button-height,
	'sm': $small-button-height,
	'md': $base-button-height,
	'lg': $large-button-height,
	'xl': $extra-large-button-height
) !default;

// Border
$base-border-width: 1px !default;
$base-border-radius: 3px !default;
$base-border-style: solid !default;
$base-border: $base-border-width $base-border-style color('border', 'general') !default;

// Typography
$base-font-family: 'Proxima Nova' !default;
$title-font-family: $base-font-family !default;

// Typography Sizes
$extra-large-font-size: 22px !default;
$large-font-size: 18px !default;
$base-font-size: 16px !default;
$small-font-size: 14px !default;
$extra-small-font-size: 13px !default;

$h1-font-size: (
    'min-vw': map-get($breakpoints, 'xs'),
    'max-vw': map-get($breakpoints, 'xl'),
    'min-value': 40px,
    'max-value': 46px,
) !default;
$h2-font-size: (
    'min-vw': map-get($breakpoints, 'xs'),
    'max-vw': map-get($breakpoints, 'xl'),
    'min-value': 36px,
    'max-value': 42px,
) !default;
$h3-font-size: (
    'min-vw': map-get($breakpoints, 'xs'),
    'max-vw': map-get($breakpoints, 'xl'),
    'min-value': 32px,
    'max-value': 38px,
) !default;
$h4-font-size: (
    'min-vw': map-get($breakpoints, 'xs'),
    'max-vw': map-get($breakpoints, 'xl'),
    'min-value': 28px,
    'max-value': 34px,
) !default;
$h5-font-size: (
    'min-vw': map-get($breakpoints, 'xs'),
    'max-vw': map-get($breakpoints, 'xl'),
    'min-value': 24px,
    'max-value': 30px,
) !default;
$h6-font-size: (
    'min-vw': map-get($breakpoints, 'xs'),
    'max-vw': map-get($breakpoints, 'xl'),
    'min-value': 20px,
    'max-value': 26px,
) !default;   

$font-sizes: (
	'xs': $extra-small-font-size,
	'sm': $small-font-size,
	'md': $base-font-size,
	'lg': $large-font-size,
	'xl': $extra-large-font-size
) !default;

// Icons
$extra-large-icon-width: 30px !default;
$extra-large-icon-height: $extra-large-icon-width !default;
$large-icon-width: 26px !default;
$large-icon-height: $large-icon-width !default;
$base-icon-width: 20px !default;
$base-icon-height: $base-icon-width !default;
$small-icon-width: 16px !default;
$small-icon-height: $small-icon-width !default;
$extra-small-icon-width: 12px !default;
$extra-small-icon-height: $extra-small-icon-width !default;

$icon-sizes: (
	'xs': (
		'width': $extra-small-icon-width,
		'height': $extra-small-icon-height
	),
	'sm': (
		'width': $small-icon-width,
		'height': $small-icon-width
	),
	'md': (
		'width': $base-icon-width,
		'height': $base-icon-height
	),
	'lg': (
		'width': $large-icon-width,   
		'height': $large-icon-height
	),
	'xl': (
		'width': $extra-large-icon-width,
		'height': $extra-large-icon-height
	)
) !default;

// Inputs
$extra-large-input-height: $extra-large-element-height !default;
$large-input-height: $large-element-height !default;
$base-input-height: $base-element-height !default;
$small-input-height: $small-element-height !default;
$extra-small-input-height: $extra-small-element-height !default;
$input-sizes: (
	'xs': $extra-small-input-height,
	'sm': $small-input-height,
	'md': $base-input-height,
	'lg': $large-input-height,
	'xl': $extra-large-input-height
) !default;

$extra-large-input-ui-height: 44px !default;
$large-input-ui-height: 36px !default;
$base-input-ui-height: 30px !default;
$small-input-ui-height: 20px !default;
$extra-small-input-ui-height: 16px !default;
$input-ui-sizes: (
	'xs': $extra-small-input-ui-height,
	'sm': $small-input-ui-height,
	'md': $base-input-ui-height,
	'lg': $large-input-ui-height,
	'xl': $extra-large-input-ui-height
) !default;

// Line Height
$base-line-height: 1.6 !default;
$extra-large-line-height: 2 !default;
$large-line-height: 1.8 !default;
$small-line-height: 1.4 !default;
$extra-small-line-height: 1.2 !default;
$title-line-height: 1.4 !default;
$line-height-sizes: (
	'xs': $extra-small-line-height,
	'sm': $small-line-height,
	'md': $base-line-height,
	'lg': $large-line-height,
	'xl': $extra-large-line-height
) !default;

// Spacing
$base-spacing: 24px !default;
$large-spacing: $base-spacing * 2 !default;
$extra-large-spacing: $large-spacing * 2 !default;
$small-spacing: $base-spacing / 2 !default;
$extra-small-spacing: $small-spacing / 2 !default;
$spacing-sizes: (
	'xs': $extra-small-spacing,
	'sm': $small-spacing,
	'md': $base-spacing,
	'lg': $large-spacing,
	'xl': $extra-large-spacing
) !default;

// Triangle
$base-triangle-size: 10px !default;

// Shadow
$base-box-shadow: 0 0 60px color('shadow', 'general', .25);
$small-box-shadow: 0 0 30px color('shadow', 'general', .25);
$inner-box-shadow: inset $base-box-shadow;