
@if $fonts {
    @font-face {
        font-family: 'Inter';
        src: url('~bobjoll/fonts/Inter-Regular.woff2') format('woff2');
        font-weight: $font-weight-regular;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Inter';
        src: url('~bobjoll/fonts/Inter-SemiBold.woff2') format('woff2');
        font-weight: $font-weight-semibold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Inter';
        src: url('~bobjoll/fonts/Inter-Bold.woff2') format('woff2');
        font-weight: $font-weight-bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Degular';
        src: url('~bobjoll/fonts/Degular-Regular.woff2') format('woff2');
        font-weight: $font-weight-regular;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Degular';
        src: url('~bobjoll/fonts/Degular-Semibold.woff2') format('woff2');
        font-weight: $font-weight-semibold;
        font-style: normal;
        font-display: swap;
    }
}
