
@if $fonts {
    @font-face {
        font-family: 'Inter';
        src: url('https://fps.cdnpk.net/static/inter-regular.woff2') format('woff2');
        font-weight: $font-weight-regular;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Inter';
        src: url('https://fps.cdnpk.net/static/inter-semibold.woff2') format('woff2');
        font-weight: $font-weight-semibold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Inter';
        src: url('https://fps.cdnpk.net/static/inter-bold.woff2') format('woff2');
        font-weight: $font-weight-bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Degular';
        src: url('https://fps.cdnpk.net/static/Degular-Regular.woff2') format('woff2');
        font-weight: $font-weight-regular;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Degular';
        src: url('https://fps.cdnpk.net/static/Degular-Semibold.woff2') format('woff2');
        font-weight: $font-weight-semibold;
        font-style: normal;
        font-display: swap;
    }
}
