<div 
	id="{{id}}" 
	class="notification{{#if class}} {{class}}{{/if}}" 
	{{#if group}} data-group="{{group}}" {{/if}}
	{{#if persistant}} data-persistant="true" {{/if}}>
	<button class="notification__close notification__close--absolute notification__close--top-right button button--sm button--icon button--link-dark">
		<i class="icon icon--xs icon--mg-sm icon--cross"></i>
	</button>

	<div class="notification__content">
		{{{html}}}

		{{#if persistant}}
			@require('notification-disable.html.hbs')
		{{/if}}
	</div>
</div>