<div class="container">
    <div class="notification walkthrough__notification--content">
        <div class="notification__content">
            <button class="notification__close button button--sm button--icon">
                <i class="icon icon--lg icon--mg-sm icon--cross"></i>
            </button>

            {{{html}}}
        </div>
    </div>
</div>