<div id="notifications" class="notifications {{class}}">
	<div id="notifications__top-left" class="notifications__top-left"></div>
	<div id="notifications__top-right" class="notifications__top-right"></div>
	<div id="notifications__bottom-left" class="notifications__bottom-left"></div>
	<div id="notifications__bottom-right" class="notifications__bottom-right"></div>
</div>